<!DOCTYPE HTML>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>PgUS - {%block title%}{%endblock%}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/media/pgus/css/main.css" />
	<link rel="stylesheet" href="/media/pgus/css/pgus.css" />
	<script defer src="/media/pgus/js/jquery.min.js"></script>
	<script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script defer src="/media/pgus/js/jquery.matchHeight-min.js"></script>
	<script defer src="/media/pgus/js/pgus.js"></script>
	{%block extrahead%}{%endblock%}
</head>

<body>

	<!-- Header -->
	{%include "pieces/navigation.html"%}
	{%block heroblock%}{%endblock%}

	<main class="container">
		{%block layoutblock%}{%endblock%}

		<!-- Footer -->
		<footer id="footer">
			<div class="row">
				<div class="col-md-8">
					<div class="copyright">
						&copy; 2015-2025 United States PostgreSQL Association <br />
						Postgres, PostgreSQL and the Slonik Logo are trademarks or registered trademarks of the
						PostgreSQL Community Association of Canada, and used with their permission.
					</div>
				</div>
				<div class="col-md-4">
					<ul class="icons">
						<li><a href="https://twitter.com/pgus" class="icon fa-twitter">
								<span class="label">Twitter</span>
							</a></li>
						<li><a href="https://bsky.app/profile/pgus.bsky.social" class="icon fa-brands fa-bluesky">
								<span class="label">Bluesky</span>
							</a></li>
						<li><a href="https://fosstodon.org/@pgus@fosstodon.org" class="icon fa-brands fa-mastodon">
								<span class="label">Mastodon</span>
							</a></li>
						<li><a href="https://www.linkedin.com/company/united-states-postgresql-association/"
								class="icon fa-linkedin">
								<span class="label">LinkedIn</span>
							</a></li>
					</ul>
				</div>
			</div>
		</footer>
	</main>
</body>

</html>