<!DOCTYPE HTML>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>PgUS - {%block title%}{%endblock%}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<script src="/media/pgus/js/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/media/pgus/js/jquery.matchHeight-min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/media/pgus/css/main.css" />
	{%block extrahead%}{%endblock%}
</head>

<body>

	<!-- Header -->
	<nav id="header" class="navbar">
		<div id="header-container" class="container navbar-container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false">
					<i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand" href="/">
					<h1 class="heading">PgUS</h1>
				</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<a href="/aboutus" class="navbar-link">About PG US</a>
					<a href="/sponsors" class="navbar-link">Sponsors</a>
					<a href="/diversity" class="navbar-link">Diversity</a>
					<a href="/get_involved" class="navbar-link">Get Involved</a>
					<a href="/becomeamember" class="navbar-link">Join</a>
					<a href="/donate" class="navbar-link">Donate</a>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	{%block layoutblock%}{%endblock%}

	<!-- Footer -->
	<div class="container">
		<footer id="footer">
			<div class="row">
				<div class="col-md-8">
					<div class="copyright">
						&copy; 2015-2021 United States PostgreSQL Association <br />
						Postgres, PostgreSQL and the Slonik Logo are trademarks or registered trademarks of the
						PostgreSQL Community Association of Canada, and used with their permission.
					</div>
				</div>
				<div class="col-md-4">
					<ul class="icons">
						<li><a href="https://twitter.com/pgus" class="icon fa-twitter">
								<span class="label">Twitter</span>
							</a></li>
					</ul>
				</div>
			</div>
		</footer>
	</div>
</body>

</html>