<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <title>PgUS - {%block title%}{%endblock%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/media/css/main.css" />
    <script src="/media/js/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    {%block extrahead%}{%endblock%}
  </head>
  <body>
    <!-- Banner -->
    <section id="banner" class="jumbotron">
      <h1>United States PostgreSQL Association (PgUS)</h1>
    </section>

    <!-- Header -->
    <header id="header">
      <div class="inner">
        <a href="/" class="logo">PgUS</a>
        <nav id="nav">
          <a href="/">home</a>
          <a href="/aboutus">about us</a>
          <a href="/financialsupport">financial support</a>
          <a href="/corporate">corporate</a>
          <a href="/becomeamember">become a member</a>
          <a href="/contactus">contact us</a>
          <a href="/membership">your membership</a>
          {%if user.is_authenticated %}<a href="/logout">log out</a>{%endif%}
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
      </div>
    </header>
    {%block layoutblock%}{%endblock%}

    <!-- Footer -->
    <footer id="footer">
      <div class="inner">
        <div class="flex">
          <div class="copyright">
            &copy; 2015-2017 United States PostgreSQL Association
          </div>
          <ul class="icons">
            <li><a href="https://twitter.com/pgus" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
          </ul>
        </div>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="/media/js/jquery.min.js"></script>
    <script src="/media/js/skel.min.js"></script>
    <script src="/media/js/util.js"></script>
    <script src="/media/js/main.js"></script>

  </body>
</html>
