{%extends "base_pgus.html" %}
{%load markup%}
{%block title%}Welcome{%endblock%}
{%block layoutblock%}

<!-- One -->
<section id="one" class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <header>
          <h3 class="top2">who we are</h3>
        </header>
        <p>
          The United States PostgreSQL Association, affectionately known as PgUS, is a IRS 501(c)(3) public charity. Our purpose is
          to support the growth and education of PostgreSQL, The World's Most Advanced Open Source Database.
        </p>
        <footer>
          <a href="/aboutus" class="button special">More</a>
        </footer>
      </div>
      <div class="col-md-4">
        <header>
          <h3 class="top1">membership</h3>
        </header>
        <p>
          Are you interested in PostgreSQL growth and education? Do you support
          PostgreSQL and want to help? By becoming a member you will be helping to support our mission
          and be able to influence what we do.
        </p>
        <footer>
          <a href="/becomeamember" class="button special">More</a>
        </footer>
      </div>
      <div class="col-md-4">
        <header>
          <h3 class="top3">upcoming events</h3>
        </header>
        <ul>
        {%for event in events %}
          <li>{{event.conferencename}}</li>
        {%endfor%}
        </ul>
        <footer>
          <a href="/events" class="button special">More</a>
        </footer>
      </div>
    </div>
  </div>
</section>

<!-- News -->
<section id="three" class="wrapper special style3">
  <div class="container">
    <header class="align-center">
      <h2>News</h2>
      <p>
        Latest PgUS News
      </p>
    </header>
    <div class="row">
      <div class="col-md-6">
        <article>
          <header>
            <h3>{{news.0.title}}</h3>
          </header>
          <p>
            {{news.0.summary|markdown|truncatewords:50}}
          </p>
          <footer>
            <a href="/news" class="button special">More</a>
          </footer>
        </article>
      </div>
      <div class="col-md-6">
        <article>
          <header>
            <h3>recent news posts</h3>
            <ul class="alt">
            {%for newsitem in news %}
              <li>{{newsitem.title}}</li>
            {%endfor%}
            </ul>
          </header>
          <footer>
            <a href="/news" class="button special">More</a>
          </footer>
        </article>
      </div>
    </div>
  </div>
</section>

{%include "pieces/team_info.html"%}

{%endblock%}
