{%extends "base_pgus.html" %}
{%load pgmarkdown%}
{%block title%}Welcome{%endblock%}
{%block layoutblock%}

<!-- Banner -->
<section id="banner" class="jumbotron">
  <h1>United States PostgreSQL Association (PgUS)</h1>
</section>

<!-- One -->
<section id="one" class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <header>
          <h3 class="top1">Membership</h3>
        </header>
        <p>
          Are you interested in PostgreSQL growth and education? Do you support
          PostgreSQL and want to help? By becoming a member you will be helping to support our mission
          and be able to influence what we do.
        </p>
        <footer>
          <a href="/becomeamember" class="button special">More</a>
        </footer>
      </div>
      <div class="col-md-4">
        <header>
          <h3 class="top3">Upcoming Events</h3>
        </header>
        <ul>
          {%for event in events %}
          <li><a href="/events/{{event.urlname}}">{{event.conferencename}}</a></li>
          {%endfor%}
        </ul>
        <footer>
          <a href="/events" class="button special">More</a>
        </footer>
      </div>
    </div>
  </div>
</section>

<!-- News -->
<section id="three" class="wrapper special style3">
  <div class="container">
    <header class="text-center">
      <h2>News</h2>
      <p>
        Latest PgUS News
      </p>
    </header>
    <div class="row">
      <div class="col-md-6">
        <article>
          <header>
            <h3>{{news.0.title}}</h3>
          </header>
          <p>
            {{news.0.summary|markdown}}
          </p>
        </article>
      </div>
      <div class="col-md-6">
        <article>
          <header>
            <h3>recent news posts</h3>
          </header>
          <ul class="alt">
            {%for newsitem in news %}
            <li>{{newsitem.summary|markdown}}</li>
            {%endfor%}
          </ul>
        </article>
      </div>
    </div>
  </div>
</section>

{%include "pieces/team_info.html"%}
{%endblock%}