{%extends "base_pgus.html" %}
{%load pgmarkdown%}
{%block title%}About Us{%endblock%}

{%block heroblock%}
<section id="hero">
  <div class="outer">
    <div class="inner">
      <h1>About Us</h1>
    </div>
  </div>
  <svg preserveAspectRatio="none" viewBox="0 0 1440 96" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="m0 96 80-5.3C160 85 320 75 480 64s320-21 480-21.3c160 .3 320 10.3 400 16l80 5.3V0H0v96Z"></path>
  </svg>
</section>
{%endblock%}

{%block layoutblock%}

<!-- Three -->
<section id="three" class="wrapper">
  <div id="contentWrap">
    <h3>Our Mission</h3>
    <p>
      The US PostgreSQL Association is a non-profit public charity with the following purpose:
    <ol type="a">
      <li>Educate, promote and support the creation, development and use of the PostgreSQL Open Source
        Database software, a software system which is available to the general public without charge;</li>
      <li>Provide information and education regarding the use of PostgreSQL; and</li>
      <li>Organize, hold and conduct meetings, discussion, and forums on the contemporary issues concerning
        the use of PostgreSQL.</li>
    </ol>
    Here is a copy of our <a href="../../media/pgus/files/bylaws.pdf">bylaws</a>,
    and our <a href="../../media/pgus/files/USPOSTGRESQL_501c3_LETTER.pdf">IRS determination letter</a>.
    Information about being an Oregon Nonprofit director is available from Oregon and is available <a
      href="../../media/pgus/files/State_of_Oregon_Guide_To_Nonprofit_Board_Service_Jan_14_2020.pdf">here</a>.
    For more information, please visit our <a href="/corporate">corporate page</a>. Information on our
    directors and officers can be found <a href="/team">here.</a>
    <br><br>
    PostgreSQL.org is the home of the global PostgreSQL community.
    If you are looking for community support or software downloads you should visit the <a
      href="http://www.postgresql.org/">global site</a>.
    </p>

    <h3>Contact Us</h3>
    <div class="row">
      <div class="col-md-4">
        <h4>Directors And Officers</h4>
        <p>
          Information on our team can be found <a href="/team">here.</a>
        </p>
        <ul class="alt">
          <li>Stacey Haysler - President</li>
          <li>Mark Wong - Treasurer</li>
          <li>Michael Brewer - Secretary</li>
          <li>Jonathan S. Katz - Director</li>
          <li>Elizabeth Garrett Christensen - Director</li>
        </ul>
      </div>
      <div class="col-md-4">

        <h4>Connect With Us</h4>
        <p>
          Have a question or suggestion for the US PostgreSQL Association's Board of Directors? Contact us at <a
            href="mailto:contact@postgresql.us">contact@postgresql.us</a>!
          <br>
          Please connect with us on social media.
          <br><br>
          Twitter: <a href="https://twitter.com/pgus">@pgus</a>
          <br><br>
          LinkedIn: <a
            href="https://www.linkedin.com/company/united-states-postgresql-association/">united-states-postgresql-association</a>
          <br><br>
          Mastodon: <a href="https://fosstodon.org/@pgus@fosstodon.org">@pgus@fosstodon.org</a>
          <br><br>
          Bluesky: <a href="https://bsky.app/profile/pgus.bsky.social">@pgus.bsky.social</a><br>
        </p>
      </div>
      <div class="col-md-4">
        <h4 class="top3">Legal</h4>
        <p>
          For legal inquiries, please contact: <a href="mailto:contact@postgresql.us">contact@postgresql.us</a>
        </p>
        <h4>Address</h4>
        <p>
          We accept any kind of mail, including donations, at the following mailing address.
        </p>
        <div class="box">
          <p>
            United States PostgreSQL Association<br>
            9450 SW Gemini Dr #62635<br>
            Beaverton, OR, 97008-7105
          </p>
        </div>

      </div>

    </div>

    <h3>Policies And Docs</h3>
    <div class="row">
      <div class="col-md-6">
        <h4>Documentation</h4>
        <p>
          Please email the Secretary (<a href="mailto:secretary@postgresql.us">secretary@postgresql.us</a>) for a
          complete list of resolutions until we finish out site migration.
          The most recent version of our bylaws can be found <a href="../../media/pgus/files/bylaws.pdf">here</a> and
          a
          copy of our IRS determination letter
          <a href="../../media/pgus/files/USPOSTGRESQL_501c3_LETTER.pdf">here</a>.
        </p>

        <h4>Financials</h4>
        <p>
          If you are interested in our financials, please contact us at <a
            href="mailto:secretary@postgresql.us">secretary@postgresql.us</a>.
        </p>
      </div>
      <div class="col-md-6">
        <h4>Website</h4>
        <p>
          This website is managed using github.
          The repository is available at <a
            href="https://github.com/pg-us/pgusweb">https://github.com/pg-us/pgusweb</a>,
          with
          the full revision history available. Please send any suggestions or bug reports
          to <a href="mailto:secretary@postgresql.us">secretary@postgresql.us</a>.
        </p>
        <h4>Policies</h4>
        <p>
          Please see our policies <a href="/policies">here</a>.
        </p>
      </div>

    </div>
  </div>
</section>
{%endblock%}