{%extends "base_pgus.html" %}
{%load markup%}
{%block title%}About Us{%endblock%}
{%block layoutblock%}

<!-- Three -->
<section id="three" class="wrapper">
  <div class="container">
    <header class="text-center">
      <h2>about us</h2>
    </header>
    <h3 class="top2">mission statement</h3>
    <p>
      The US PostgreSQL Association is a non profit public charity with the following purpose:
      <br><br>
      (a) Educate, promote and support the creation, development and use of the PostgreSQL Open Source
      Database software, a software system which is available to the general public without charge;
      <br><br>
      (b) Provide information and education regarding the use of PostgreSQL; and
      <br><br>
      (c) Organize, hold and conduct meetings, discussion, and forums on the contemporary issues concerning
      the use of PostgreSQL.
      <br><br>
      Here is a copy of our <a href="../../media/pgus/files/bylaws.pdf">bylaws</a>,
      and our <a href="../../media/pgus/files/USPOSTGRESQL_501c3_LETTER.pdf">IRS determination letter</a>.
      Information about being an Oregon Nonprofit director is available from Oregon and is available <a href="../../media/pgus/files/State_of_Oregon_Guide_To_Nonprofit_Board_Service_Jan_14_2020.pdf">here</a>.
      For more information, please visit our <a href="/corporate">corporate page</a>. Information on our
      directors and officers can be found <a href="/team">here.</a>
    </p>
    <div class="row">
      <div class="col-md-4">
        <h3 class="top1">how can I contribute?</h3>
        <p>
          If you are interested in supporting us, the best way is to <a href="/becomeamember">become a member</a> and
          actively contribute to our mission.<br><br>However, <a href="/financialsupport">donations</a> are also an
          excellent way to express appreciation for what we do.
        </p>
      </div>
      <div class="col-md-4">
        <h3 class="top2">website</h3>
        <p>
          This website is managed using github.
          <br><br>
          The repository is available at <a href="https://github.com/pg-us/pgusweb">https://github.com/pg-us/pgusweb</a>, with
          the full revision history available. Please send any suggestions or bug reports
          to <a href="mailto:secretary@postgresql.us">secretary@postgresql.us</a>.
        </p>
      </div>
      <div class="col-md-4">
        <h3 class="top3">postgresql</h3>
        <p>
          PostgreSQL.org is the home of the global PostgreSQL community.
          <br><br>
          If you are looking for community support or software downloads you should visit the <a href="http://www.postgresql.org/">global site</a>.
        </p>
      </div>
    </div>
  </div>
</section>

{%endblock%}
