{%extends "base.html" %}
{%load markup%}
{%block title%}Associated Projects{%endblock%}
{%block layoutblock%}

<!-- Three -->
<section id="three" class="wrapper">
  <div class="container">
    <header class="align-center">
      <h2>associated projects</h2>
    </header>
    <div>
      <h3 class="top2">who are our associated projects?</h3>
      <p>
        The United States PostgreSQL Associated has created an Associated Project framework to give legal and financial support
        to projects that are aligned with PgUS's mission for their individual goals. If your project aligns with the PgUS mission
        and you wish your project to be associated with PgUS, please review the
        <a href="https://docs.google.com/document/d/12JyZqIUXKwmeqmlJziff5ISeKJgeP8ggzyjQB4VIp_A/pub">Associated Project guidelines</a>
        and contact us at <a href="mailto:secretary@postgresql.us">secretary@postgresql.us</a>.
      </p>
      <a href="https://www.pgconf.us/">PGConf.US</a>
      <ul>
        <li><a href="http://blog.pgconf.us/p/team-governance.html">Governance</a></li>
      </ul>
      <p>
        Liaisons
      </p>
      <ul>
        <li>Jim Mlodgenski</li>
        <li>Jonathan Katz</li>
      </ul>
      <p>
        Steering Committee
      </p>
      <ul>
        <li>Jim Mlodgenski</li>
        <li>Jonathan Katz</li>
        <li>Joshua Drake</li>
      </ul>
      <hr>
      <a href="http://www.postgresopen.org/">PostgresOpen</a>
      <ul>
        <li><a ref="https://2017.postgresopen.org/about/">Governance</a></li>
      </ul>
      <p>
        Liaisons
      </p>
      <ul>
        <li>Stephen Frost</li>
        <li>Joe Conway</li>
      </ul>
      <p>
        Steering Committee
      </p>
      <ul>
        <li>Stephen Frost</li>
        <li>Joe Conway</li>
        <li>Kris Pennella</li>
        <li>Craig Kerstiens</li>
        <li>Samantha Billington</li>
        <li>Umur Cubukcu</li>
        <li>Sarah Conway</li>
      </ul>
    </div>
  </div>
</section>

{%endblock%}
