{%extends "base.html" %}
{%load markup%}
{%block title%}Become a Member{%endblock%}
{%block layoutblock%}

<!-- Three -->
<section id="three" class="wrapper">
  <div class="container">
    <header class="align-center">
      <h2>become a member</h2>
    </header>
    <div class="row">
      <div class="col-md-4">
        <h3 class="top2">why join pgus?</h3>
        <p>
          The United States PostgreSQL Association affectionately known as PgUS is a IRS 501(c)(3) public charity.
          <br><br>
          Our purpose is to support the growth and education about The World's Most Advanced Open Source
          Database in the United States.
        </p>
        <br><br>
      </div>
      <div class="col-md-4">
        <h3 class="top3">benefits</h3>
        <p>
          By becoming a member, you will be able to:
        </p>
        <ul class="alt">
          <li>- influence the growth of PostgreSQL</li>
          <li>- vote in board elections</li>
          <li>- support the US PostgreSQL community</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3 class="top1">opportunities</h3>
        <p>
          There are many opportunities available to members including the ability to have affiliated projects
          (like the PostgreSQL Community Conference series), serving on our committee, getting sponsorship
          through grants and generally just participating in a fun and vibrant community.
        </p>
      </div>
    </div>
    <div class="row">
      <!-- Break -->
      <div class="col-md-6">
        <h3 class="top1">membership information</h3>
        <p>
          Members of the PgUS are entitled to inspect the following records, some which are already publicly
          available while others must be requested from the Secretary
          (<a href="mailto:secretary@postgresql.us">secretary@postgresql.us</a>):
        </p>
        <ul>
          <li>Articles of Incorporation</li>
          <li>Bylaws</li>
          <li>List of all other members</li>
          <li>List of the Board of Directors</li>
          <li>Meeting minutes</li>
          <li>Board of Directors</li>
          <li>Conference Subcommittee</li>
          <li>Resolutions</li>
          <li>Annual financial statements</li>
          <li>Meeting attendance</li>
        </ul>
        <p>
          Members may also demand a special meeting if 5% of the voting members sign and date a petition to the Secretary with the purpose or purposes of the meeting.
          Currently, there are two regularly scheduled meetings for members. The Annual member meeting in March and the Semi-Annual meeting in October. Members are notified of exact dates at least 7 days in advance.
        </p>
      </div>
      <div class="col-md-6">
        <h3 class="top2">where do I sign up?</h3>
        <p>We appreciate your dedication to PostgreSQL and furthering our mission!</p>

        <div class="table-wrapper">
          <table class="alt">
            <thead>
              <tr>
                <th>Membership Type</th>
                <th>Annual Dues</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="/membership">Professional Member</a></td>
                <td>$25</td>
              </tr>
              <tr>
                <td><a href="/membership">Student Member</a></td>
                <td>$10</td>
              </tr>
            </tbody>
          </table>
        </div>

        <p>
          If you still feel like contributing to our mission, but don't want any of the responsibility, we will <a href="/financialsupport">happily take a donation</a>. Thank you for your participation and consideration of our mission!<br><br>
          Any further questions or concerns can be directed to our secretary using the email <a href="mailto:secretary@postgresql.us">secretary@postgresql.us</a>.
        </p>
      </div>
    </div>
  </div>
</section>
{%endblock%}
