{%extends "base_pgus.html" %}
{%load pgmarkdown%}
{%block title%}Community Development{%endblock%}

{%block heroblock%}
<section id="hero">
  <div class="outer">
    <div class="inner">
      <h1>Community Development</h1>
    </div>
  </div>
  <svg preserveAspectRatio="none" viewBox="0 0 1440 96" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="m0 96 80-5.3C160 85 320 75 480 64s320-21 480-21.3c160 .3 320 10.3 400 16l80 5.3V0H0v96Z"></path>
  </svg>
</section>
{%endblock%}

{%block layoutblock%}

<!-- Three -->
<section id="three" class="wrapper">
  <div id="contentWrap">
    <div class="row">
      <div class="col-md-6">
        <h3>PostgreSQL Community Development</h3>
        <p>
          The mission of the Community Development Committee of the United States PostgreSQL Association is to develop
          participation in the PostgreSQL community through outreach programs and the support of educational endeavors
          for PostgreSQL users in the United States.
        </p>
      </div>
      <div class="col-md-6">
        <h3>Participation</h3>
        <p>
          Current members of the United States PostgreSQL Association are encouraged to support this work through
          committee participation. Interested members can complete the <a href="https://bit.ly/pgusvolunteer">Volunteer
            Introduction Form</a> to apply for the Committee.

        </p>
      </div>
    </div>
    <div>
      <h3>Opportunity Grants</h3>
      <p>
        PgUS established a Diversity Program in 2015 by unanimous vote of the Board. This program ran through the end of
        2025, providing scholarships to more than 20 individuals in that year.
      </p>
      <p>In 2026, we have expanded the scope of the program and renamed it as the Community Development Committee. The
        scholarship criteria have been revised, and the Scholarships are now known as Opportunity Grants. The expanded
        program will still focus on conference travel support, and the revised criteria will increase the Committee's
        ability to both bring new members into the community and also to help current members become more involved in
        community activities.</p>
      <p>
        You can apply for an Opportunity Grant using the <a href="https://tinyurl.com/oppgrantapp">application here</a>.
        Just like submitting a talk, details matter! Your application should include specifics of how the grant will
        benefit your education and/or career, how you plan to share the benefit with others in the community, and the
        kind of role you are interested in taking on as part of the PostgreSQL community if you are not already actively
        involved.
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Community Development Committee</h3>
        <p>
          Chair: Bob Pacheco<br>
          Ha Le<br>
          Kalyani Madipadiga<br>
          Jay Miller<br>
          Selenge Tulga<br>
          Ezra Yendau<br>
        </p>
      </div>
      <div class="col-md-6">
        <h3>Eligible Conferences</h3>
        <p>The Opportunity Grants are focused on community-recognized PostgreSQL conferences such as:</p>
        <ul>
          <li>PostgreSQL@SCaLE</li>
          <li>PgSummit.US</li>
          <li>PGDay Boston</li>
          <li>PGConf.dev</li>
          <li>PG DATA Chicago</li>
        </ul>
      </div>
    </div>
  </div>
</section>

{%endblock%}