{%extends "base_pgus.html" %}
{%load markup%}         
{%block title%}Conferences{%endblock%}
{%block layoutblock%}

  		<!-- Three -->
  			<section id="three" class="wrapper">
  				<div class="container">
            <header class="align-center">
              <h2>conferences</h2>
            </header>
            <div class="row">
              <div class="6u 12u$(small)">
                <h3 class="top2">speakers</h3>
								<p>
									By clicking on each speaker's name below, you'll be taken to a full summary of both who they are and what talks they have or will be presenting.
									The full list can be found by clicking on "more" below.
								</p>
                <ul class="alt">
									<li><a href="">Speaker</a></li>
									<li><a href="">Speaker</a></li>
									<li><a href="">Speaker</a></li>
									<li><a href="">Speaker</a></li>
									<li><a href="">Speaker</a></li>
								</ul>
								<footer>
									<a href="#" class="button fit">More</a>
								</footer>
              </div>
              <div class="6u$ 12u$(small)">
                <h3 class="top1">events</h3>
								<p>
									PostgreSQL is represented at the following conferences (some sponsored by PgUS, others not). These are all upcoming events from all around the
									globe; the full list of PostgreSQL conferences and their upcoming dates can be found by clicking "more" below.
								</p>
								<ul class="alt">
									<li><a href="">Conference</a> | 01/01/1011 - 02/01/1011</li>
									<li><a href="">Conference</a> | 01/01/1011 - 02/01/1011</li>
									<li><a href="">Conference</a> | 01/01/1011 - 02/01/1011</li>
									<li><a href="">Conference</a> | 01/01/1011 - 02/01/1011</li>
									<li><a href="">Conference</a> | 01/01/1011 - 02/01/1011</li>
								</ul>
								<footer>
									<a href="#" class="button fit">More</a>
								</footer>
              </div>
            </div>
  				</div>
  			</section>

{%endblock%}                                                                                                                                                                                                             
