{%extends "base_pgus.html" %}
{%load markup%}
{%block title%}Contact Us{%endblock%}
{%block layoutblock%}
<!-- Three -->
<section id="three" class="wrapper">
  <div class="container">
    <header class="text-center">
      <h2>contact us</h2>
    </header>
    <div class="row">
      <div class="col-md-4">
         <h3 class="top3">directors and officers</h3>
        <p>
          Information on our team can be found <a href="/team">here.</a>
        </p>
        <ul class="alt">
          <li>Stacey Haysler - President</li>
          <li>Stephen Frost - Vice President</li>
          <li>Mark Wong - Treasurer</li>
          <li>Katherine McMillan - Director</li>
          <li>Jonathan S. Katz - Director</li>
          <li>Michael Brewer - Secretary</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3 class="top1">address</h3>
          <p>
            We accept any kind of mail, including donations, at the following mailing address.
          </p>
          <div class="box">
            <p>
              United States PostgreSQL Association<br>
              9450 SW Gemini Dr #62635<br>
              Beaverton, OR, 97008-7105
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <h3 class="top3">legal</h3>
          <p>
            For legal inquiries, please contact: <a href="mailto:contact@postgresql.us">contact@postgresql.us</a>
          </p><br>
          <h3 class="top2">connect with us</h3>
          <p>
            Have a question or suggestion for the US PostgreSQL Association's Board of Directors? Contact us at <a href="mailto:contact@postgresql.us">contact@postgresql.us</a>!
            <br>
            Otherwise, please connect with us on social media.
            <br><br>
            <i class="fa fa-twitter-square" aria-hidden="true"></i> twitter: <a href="https://twitter.com/pgus">https://twitter.com/pgus</a><br>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}
