{%extends "base.html" %}
{%load markup%}
{%block title%}Contact Us{%endblock%}
{%block layoutblock%}
<!-- Three -->
<section id="three" class="wrapper">
  <div class="container">
    <header class="align-center">
      <h2>contact us</h2>
    </header>
    <div class="row">
      <div class="col-md-4">
        <h3 class="top2">board of directors</h3>
        <p>
          Information on our full board of directors can be found <a href="/team">here.</a>
        </p>
        <ul class="alt">
          <li>Stephen Frost - President</li>
          <li>Mark Wong - Treasurer</li>
          <li>Debra Cerda - Secretary</li>
          <li>Michael Brewer - Director</li>
          <li>Jonathan S. Katz - Director</li>
          <li>Jim Mlodgenski - Director</li>
          <li>Joe Conway - Director</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3 class="top1">address</h3>
          <p>
            We accept any kind of mail, including donations, at the following mailing address.
          </p>
          <div class="box">
            <p>
              United States PostgreSQL Association<br>
              9220 SW Barbur Blvd<br>
              Ste 119-230<br>
              Portland‎ OR‎ 97219
            </p>
          </div>
        </div>
        <div class="4u$ 12u$(medium)">
          <h3 class="top3">legal</h3>
          <p>
            For legal inquiries, please contact: <a href="mailto:secretary@postgresql.us">secretary@postgresql.us</a>
          </p>
          <h3 class="top2">connect with us</h3>
          <p>
            Have a question or suggestion for the US PostgreSQL Association's Board of Directors? Contact us at <a href="mailto:secretary@postgresql.us">secretary@postgresql.us</a>!
            <br>
            Otherwise, please connect with us on social media.
            <br><br>
            <i class="fa fa-twitter-square" aria-hidden="true"></i> twitter: <a href="https://twitter.com/pgus">https://twitter.com/pgus</a><br>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}
