<h3 id="corporate">Committees</h3>
<p>
  The United States PostgreSQL Association has a set of committees focused on various
  aspects of development and governance for the Association. The current committees are:
</p>
<h4>Diversity committee</h4>
<p>
  The Diversity Committee promotes an inclusive environment in the PostgreSQL
  community through outreach programs and the support of educational
  endeavors for underrepresented PostgreSQL users in the United States.<br />
  The Diversity Committee can be contacted at
  <a href="mailto: diversity@postgresql.us"> diversity@postgresql.us</a>.
</p>
<h4>Conference committee</h4>
<p>
  The Conference Committee promotes the education of the public about PostgreSQL
  by running annual conferences, either directly or by working with an
  organization committee for the event, in particular the PostgresOpen
  national conference as well as smaller PgDay conferences around the
  country.<br />
  Stephen Frost is the current chair of the committee.<br />
  The Conference Committee can be contacted at
  <a href="mailto:ccomm@postgresql.us">ccomm@postgresql.us</a>.
</p>
<h4>User group committee</h4>
<p>
  The User Group Committee promotes the education of the public about PostgreSQL
  by holding monthly, semi-monthly, or other regularly scheduled local
  meetings (aka "meetups") to bring together those interested in learning
  about PostgreSQL (either physcially or virtually), either directly or by
  working with local organizers of PostgreSQL User Groups (aka PUGs).<br />
  Dave Cramer is the current chair of the committee.<br />
  The User Group Committee can be contacted at
  <a href="mailto:ugcomm@postgresql.us">ugcomm@postgresql.us</a>.
</p>
<h4>Expo committee</h4>
<p>
  The Expo Committee promotes the use and education of PostgreSQL by
  exhibiting at various non-PostgreSQL events, either directly or by
  working with other volunteers, in-person or virtually, where those
  events are suitably aligned with PgUS's mission (eg: non-profit,
  volunteer-run general events such as SCALE, or open-source focused
  events such as FOSS4G).<br />
  Mark Wong is the current chair of the committee.<br />
  The Expo Committee can be contacted at
  <a href="mailto:ecomm@postgresql.us">ecomm@postgresql.us</a>.
</p>
<h4>Selection process</h4>
<p>
  The Committee Member Selection process is outlined on the <a href="/policies">policies page</a>.
</p>