{%extends "base_pgus.html" %}
{%load markup%}
{%block title%}Corporate{%endblock%}
{%block layoutblock%}

<!-- Three -->
<section id="three" class="wrapper">
  <div class="container">
    <header class="text-center">
      <h2>corporate</h2>
    </header>
    <div class="row">
      <div class="col-md-4">
        <h3 class="top3">board of directors</h3>
        <ul class="alt">
          <li>Jonathan S. Katz</li>
          <li>Katherine McMillan</li>
          <li>Mark Wong</li>
          <li>Stacey Haysler</li>
          <li>Stephen Frost</li>
        </ul>
        <h3 class="top3">officers</h4>
        <ul class="alt">
          <li>Stacey Haysler - President</li>
          <li>Stephen Frost - Vice President</li>
          <li>Mark Wong - Treasurer</li>
          <li>Michael Brewer - Secretary</li>
          </ul>
        <p>
          Information on our team can be found <a href="/team">here.</a>
        </p>
      </div>
      <div class="col-md-4">
        <h3 class="top1">committees</h3>
        <p>
          The United States PostgreSQL Association has a set of committees focused on various
          aspects of development and governance for the Association. The current committees are:
        </p>
        <h4>diversity committee</h4>
        <p>
          The Diversity Committee promotes an inclusive environment in the PostgreSQL
          community through outreach programs and the support of educational
          endeavors for underrepresented PostgreSQL users in the United States.<br/>
          Sarah Conway Schnurr is the current chair of the committee.<br/>
          The Diversity Committee can be contacted at 
          <a href="mailto: diversity@postgresql.us"> diversity@postgresql.us</a>.
        </p>
        <h4>conference committee</h4>
        <p>
          The Conference Committee promotes the education of the public about PostgreSQL
          by running annual conferences, either directly or by working with an
          organization committee for the event, in particular the PostgresOpen
          national conference as well as smaller PgDay conferences around the
          country.<br/>
          Stephen Frost is the current chair of the committee.<br/>
          The Conference Committee can be contacted at 
          <a href="mailto:ccomm@postgresql.us">ccomm@postgresql.us</a>.
        </p>
        <h4>user group committee</h4>
        <p>
          The User Group Committee promotes the education of the public about PostgreSQL
          by holding monthly, semi-monthly, or other regularly scheduled local
          meetings (aka "meetups") to bring together those interested in learning
          about PostgreSQL (either physcially or virtually), either directly or by
          working with local organizers of PostgreSQL User Groups (aka PUGs).<br/>
          Dave Cramer is the current chair of the committee.<br/>
          The User Group Committee can be contacted at
           <a href="mailto:ugcomm@postgresql.us">ugcomm@postgresql.us</a>.
        </p>
        <h4>expo committee</h4>
        <p>
          The Expo Committee promotes the use and education of PostgreSQL by
          exhibiting at various non-PostgreSQL events, either directly or by
          working with other volunteers, in-person or virtually, where those
          events are suitably aligned with PgUS's mission (eg: non-profit,
          volunteer-run general events such as SCALE, or open-source focused
          events such as FOSS4G).<br/>
          Mark Wong is the current chair of the committee.<br/>
          The Expo Committee can be contacted at 
          <a href="mailto:ecomm@postgresql.us">ecomm@postgresql.us</a>.
        </p>
        <h4>selection process</h4>
        <p>
          The Committee Member Selection process is outlined on the <a href="/policies">policies page</a>.
        </p>
      </div>
      <div class="col-md-4">
        <h3 class="top2">documentation</h3>
        <p>
          Please email the Secretary (<a href="mailto:secretary@postgresql.us">secretary@postgresql.us</a>) for a complete list of resolutions until we finish out site migration.<br><br>
          The most recent version of our bylaws can be found <a href="../../media/pgus/files/bylaws.pdf">here</a> and a copy of our IRS determination letter
          <a href="../../media/pgus/files/USPOSTGRESQL_501c3_LETTER.pdf">here</a>.
        </p>
        <h4>policies</h4>
          <p>
            Please see our policies <a href="/policies">here</a>.
          </p>
        <h4>financials</h4>
          <p>
            If you are interested in our financials, please contact us at <a href="mailto:secretary@postgresql.us">secretary@postgresql.us</a>.
          </p>
      </div>
    </div>
  </div>
</section>
{%endblock%}
