{%extends "base.html" %}
{%load markup%}
{%block title%}Corporate{%endblock%}
{%block layoutblock%}

<!-- Three -->
<section id="three" class="wrapper">
  <div class="container">
    <header class="align-center">
      <h2>corporate</h2>
    </header>
    <div class="row">
      <div class="4u 12u$(medium)">
        <h3 class="top3">board of directors</h3>
        <p>
          Information on our full board of directors can be found <a href="/team">here.</a>
        </p>
        <ul class="alt">
          <li>Mark Wong - President &amp; Treasurer</li>
          <li>Michael Brewer - Secretary</li>
          <li>Jonathan S. Katz - Director</li>
          <li>Jim Mlodgenski - Director</li>
          <li>Stephen Frost - Director</li>
          <li>Joe Conway - Director</li>
          <li>Debra Cerda - Director</li>
        </ul>
      </div>
      <div class="4u 12u$(medium)">
        <h3 class="top1">associated projects</h3>
        <p>
          The United States PostgreSQL Associated has created an Associated Project framework to give legal and financial support to
          projects that are aligned with PgUS's mission for their individual goals. If your project aligns with the PgUS mission and
          you wish your project to be associated with PgUS, please review the
          <a href="https://docs.google.com/document/d/12JyZqIUXKwmeqmlJziff5ISeKJgeP8ggzyjQB4VIp_A/pub">Associated Project guidelines</a>
          and contact us at <a href="mailto:secretary@postgresql.us">secretary@postgresql.us</a>.
          <br>
          To look at our associated projects, please visit <a href="/associatedprojects">our associated projects page.</a>
        </p>
      </div>
      <div class="4u 12u$(medium)">
        <h3 class="top1">documentation</h3>
        <p>
          Please email the Secretary (<a href="mailto:secretary@postgresql.us">secretary@postgresql.us</a>) for a complete list of resolutions until we finish out site migration.<br><br>
          The most recent version of our bylaws can be found <a href="../../media/files/bylaws.pdf">here</a> and a copy of our IRS determination letter
          <a href="../../media/files/USPOSTGRESQL_501c3_LETTER.pdf">here</a>.
        </p>
      </div>
    </div>
    <!-- Break -->
    <h3 class="top2">financials</h3>
    <p>
      If you are interested in our financials, please contact us at <a href="mailto:secretary@postgresql.us">secretary@postgresql.us</a>.
    </p>
    <p>
      Our IRS determination letter is available as a PDF <a href="../../media/files/financial/PGUS_2015_IRS_Determination_Letter.pdf">here</a>.
    </p>
  </div>
</section>
{%endblock%}
