{%extends "base_pgus.html" %}
{%load pgmarkdown%}
{%block title%}Diversity{%endblock%}

{%block heroblock%}
<section id="hero">
  <div class="outer">
    <div class="inner">
      <h1>Diversity</h1>
    </div>
  </div>
  <svg preserveAspectRatio="none" viewBox="0 0 1440 96" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="m0 96 80-5.3C160 85 320 75 480 64s320-21 480-21.3c160 .3 320 10.3 400 16l80 5.3V0H0v96Z"></path>
  </svg>
</section>
{%endblock%}

{%block layoutblock%}

<!-- Three -->
<section id="three" class="wrapper">
  <div id="contentWrap">
    <div class="row">
      <div class="col-md-6">
        <h3>Diversity in Postgres</h3>
        <p>
          The mission of the Diversity Committee of the United States PostgreSQL Association is to promote an
          inclusive
          environment in the PostgreSQL community through outreach programs
          and the support of educational endeavors for underrepresented PostgreSQL users in the United States.
        </p>
      </div>
      <div class="col-md-6">
        <h3>Participation</h3>
        <p>
          Current members of the United States PostgreSQL Association are encouraged to participate in the further
          development and growth of the Association through committee participation.
          Interested members can complete the <a href="https://forms.gle/qhNrbPUgSdEfCmNJA">Volunteer Introduction
            Form</a> to apply for the Committee.
        </p>
      </div>
    </div>
    <div>
      <h3>Diversity Scholarship</h3>
      <p>
        PgUS established this Diversity Program in 2015 by unanimous vote of the Board. The Committee has created
        guidelines for the program, which are updated yearly in keeping with developments in DEI practices and in our
        own work.
      </p>
      <p>
        We are pleased to announce the application for the Diversity Scholarship is
        <a
          href="https://docs.google.com/a/postgresql.us/forms/d/1dgFUVXHgJ0sLAETJaAciLFetvFq5_S0-juZ3g8QyeVc/edit?usp=sharing&ts=58f14198">open
          and available for submissions</a>.
      </p>
      <p>
        You can apply to have some or all of your conference attendance costs (registration, hotel, airfare) covered.
        Just like submitting a talk, details count!
        Your application should include specifics of how attending the event will benefit you, and how you plan to
        share
        the benefit with others in the community.
      </p>
      <p>
        The Diversity Committee would like to thank our friends and members of the Django community for allowing us to
        review and borrow from their program.
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Diversity Committee</h3>
        <p>
          Quan-ha Le<br>
          Samay Sharma<br>
          Stacey Haysler<br>
          Sunita Inderjit<br>
          Emma Saroyan<br>
        </p>
      </div>
      <div class="col-md-6">
        <h3>Eligible Conferences</h3>
        <p>The Diversity scholarships are focused on community-recognized PostgreSQL conferences such as:</p>
        <ul>
          <li>PostgreSQL@SCaLE</li>
          <li>PGDay Chicago</li>
          <li>PGConf NYC</li>
          <li>PGConf.dev</li>
        </ul>
      </div>
    </div>
  </div>
</section>

{%endblock%}