{%extends "base_pgus.html" %}
{%load markup%}
{%block title%}Diversity{%endblock%}
{%block layoutblock%}

<!-- Three -->
<section id="three" class="wrapper">
  <div class="container">
    <header class="align-center">
      <h2>diversity</h2>
    </header>
    <div class="row">
      <div class="col-md-6">
        <h3 class="top1">diversify postgres</h3>
        <p>
          The mission of the Diversity Committee of the United States PostgreSQL Association is to promote an inclusive environment in the PostgreSQL community through outreach programs
          and the support of educational endeavors for underrepresented PostgreSQL users in the United States.
        </p>
      </div>
      <div class="col-md-6">
        <h3 class="top2">participation</h3>
        <p>
          Current members of the United States PostgreSQL Association are encouraged to participate in the further development and growth of the Association through committee participation.
          Interested members should send their intent to diversity@postgresql.us for consideration.
        </p>
      </div>
    </div>
    <div>
      <h3 class="top3">diversity scholarship</h3>
      <p>
        At the end of 2015, the United States PostgreSQL Association unanimously passed a resolution ear-marking $10,000 of funds for our Diversity Scholarship.
        Since then, the Diversity Committee (comprised of Debra Cerda, Sarah Conway, Evan Macbeth and Quan-Ha Le) have been working to create
        guidelines around what would be a beneficial program for the PostgreSQL community.
      </p>
      <p>
        We are pleased to announce the application for the Diversity Scholarship is
        <a href="https://docs.google.com/a/postgresql.us/forms/d/1dgFUVXHgJ0sLAETJaAciLFetvFq5_S0-juZ3g8QyeVc/edit?usp=sharing&ts=58f14198">open and available for submissions</a>.
      </p>
      <p>
        You can apply to have some or all of your conference attendance costs (registration, hotel, airfare) covered. Just like submitting a talk, details count!
        Your application should include specifics of how attending the event will benefit you, and how you plan to share the benefit with others in the community.
      </p>
      <p>The decision making process will be ranked on 1 (low) to 5 (high) in the following areas:</p>
      <ul>
        <li>benefit to the applicant</li>
        <li>benefit to others (conference attendees, community members, applicant's coworkers, fellow students)</li>
        <li>(subjective) how serious do I feel the applicant is?</li>
        <li>(subjective) what is my overall feeling about the application?</li>
      </ul>
      <p>
        Each committee member will score applications in random order, without knowing other committee members' scores.
      </p>
      <p>
        The Diversity Committee would like to thank our friends and members of the Django community for allowing us to review and borrow from their program.
      </p>
    </div>
  </div>
</section>

{%endblock%}
