{%extends "base_pgus.html" %}
{%load markup%}
{%block title%}Diversity{%endblock%}
{%block layoutblock%}

<!-- Three -->
<section id="three" class="wrapper">
  <div class="container">

    <header class="text-center">
      <h2>diversity</h2>
    </header>

    <div class="row">

      <div class="col-lg-12">
        <h3 class="top3">the diversity committee</h3>
        <p>
          <strong>our mission:</strong> To promote an inclusive environment in the PostgreSQL community through outreach programs and the 
          support of educational endeavors for underrepresented PostgreSQL users in the United States.
        </p>
        <p>
          <strong>our priority: inclusion</strong>. Why? because inclusive communities help to reduce and eliminate barriers to participation, 
          and we want everyone to participate in the creation and innovation of software.
        </p>
        <p>
          <strong>what's the key?</strong> We believe that open-source software and communities are key for fostering inclusion in information 
          technology. Through community engagement, development, and support, as well as a philosophy that everyone is welcome, equal, and has 
          a role, open-source software communities are working to reduce and eliminate barriers to participation in information technology.  
        </p>
        <p>
          <strong>it all comes together.</strong> Open Source is not just about permissive licenses that reduce economic barriers to using the 
          software - it’s also about providing opportunities for everyone to participate in software development, research, advocacy, and 
          governance. We whole-heartedly believe in and support this at PgUS and consistently seek to create and support these opportunities 
          for participation through the work of the Diversity Committee, and beyond!
        </p>
      </div>

    </div>

    <div class="row">

      <div class="col-lg-6">
        <h3 class="top1">talk postgresql online</h3>
        <p>
          The PostgreSQL community can be found a lot of places - come interact with us! You can find us on:
        </p>
        <ul class="text-left">
          <li>
            <a href="https://www.postgresql.org/community/irc/" rel="noopener" target="_blank">
              IRC
            </a>
          </li>
          <li>
            <a href="https://postgres-slack.herokuapp.com/" rel="noopener" target="_blank">
              Slack
            </a>
          </li>
          <li>
            <a href="https://twitter.com/PostgreSQL" rel="noopener" target="_blank">
              Twitter
            </a>
          </li>
        </ul>
        <p>
          You can find other ways of contacting the PostgreSQL community about topics such as security issues, found bugs, and press 
          inquiries on the  
          <a href="https://www.postgresql.org/about/contact/" rel="noopener" target="_blank">Contact page</a> on the main PostgreSQL website.
        </p>
        <p>
          There are also more than a dozen mailing lists available, with topics including:
        </p>
        <ul class="text-left">
          <li>
            <a href="https://www.postgresql.org/list/pgsql-announce/" rel="noopener" target="_blank">
              Announcements
            </a>
          </li>
          <li>
            <a href="https://www.postgresql.org/list/pgsql-hackers/" rel="noopener" target="_blank">
              Development
            </a>
          </li>
          <li>
            <a href="https://www.postgresql.org/list/pgsql-jobs/" rel="noopener" target="_blank">
              Jobs
            </a>
          </li>
        </ul>
        <p>
          <a href="https://www.postgresql.org/list/" rel="noopener" target="_blank">
            View all information regarding current PostgreSQL mailing lists and how to manage your subscriptions to them here.
          </a>
        </p>
      </div>

      <div class="col-lg-6">
        <h3 class="top2">development resources</h3>
        <p>
          For a wide range of user generated content, including specific information on contributing code to PostgreSQL, check 
          out the <a href="https://wiki.postgresql.org/wiki/Main_Page" rel="noopener" target="_blank">PostgreSQL wiki</a>. 
          Additionally, <a href="https://www.postgresql.org/docs/" rel="noopener" target="_blank">official documentation for PostgreSQL</a> 
          can be found for every version of PostgreSQL since it's creation - take a look!
        </p>
        <p>
          Find community supported lists of 
          <a href="https://www.postgresql.org/docs/online-resources/" rel="noopener" target="_blank">online resources</a>,
          <a href="https://www.postgresql.org/docs/books/" rel="noopener" target="_blank">books</a>, and 
          <a href="https://www.postgresql.org/docs/faq/" rel="noopener" target="_blank">frequently asked questions</a> on the 
          main PostgreSQL website.
        </p>
        <p>
          Interested in reading more discussions and experiments around PostgreSQL use? Check out 
          <a href="https://planet.postgresql.org/" rel="noopener" target="_blank">Planet PostgreSQL</a>, a blog aggregator of 
          PostgreSQL related topics from across the web.
        </p>
        <p>
          Finally, you can find more information specifically on 
          <a href="https://www.postgresql.org/developer/coding/" rel="noopener" target="_blank">PostgreSQL coding for developers</a> 
          on the main PostgreSQL website; this includes links to navigate the source code, search for git commit hashs, view 
          a backend flowchart, and more!
        </p>
      </div>

    </div>

    <div class="row">

      <div class="col-lg-12">

        <h3 class="top3">postgresql events</h3>
        <p>
          <strong>local postgresql user groups</strong> - These amazing resources can be found nearly everywhere around the world. If there 
          isn't one currently meeting, we can help you set one up in your area to promote the learning and collaborative discussion of 
          PostgreSQL in local settings near you - just contact 
          <a href="mailto:diversity@postgresql.us">diversity@postgresql.us</a>! For information on which user groups are currently meeting, 
          go to the official PostgreSQL website to view 
          <a 
            href="https://www.postgresql.org/community/user-groups/" 
            rel="noopener" 
            target="_blank">the full list of local PUGs sorted by country and local region</a>.
        </p>
        <p>
          <strong>upcoming community events</strong> - The PostgreSQL community loves to get together and promote interactive discussions 
          and activities around PostgreSQL learning, development, and networking. Join us at both in person and virtual events - you can 
          find a 
          <a href="https://www.postgresql.org/about/events/">full list of all PostgreSQL community events</a> on the main PostgreSQL website!
        </p>
        <p>
          <strong>in need of financial assistance?</strong> We may be able to help! We offer financial scholarships for diverse candidates 
          thanks to generous donations from our <a href="/sponsors/">sponsors</a> and other 
          <a href="/financialsupport/">independent contributors</a>. View our Diversity Scholarship offering below for more information.
        </p>  

      </div>

    </div>

    <div class="row">

      <div class="col-lg-6">
        <h3 class="top2">diversity scholarship</h3>
        <p>
          <strong>what is this?</strong> An opportunity for diverse candidates to receive financial assistance for travelling or 
          attending virtual or in-person events, with the intention of presenting, learning, or connecting in the PostgreSQL 
          community!
        </p>
        <p>
          <strong>how to apply?</strong> Applications are evaluated on a case-by-case basis; you must be applying to attend any 
          PostgreSQL specific event, such as a user group or community edorsed conference. For more information and to actually 
          apply for the PgUS Diversity Scholarship, please 
          <a href="https://forms.gle/h1biz4ANDJEp9M9b6" rel="noopener" target="_blank">visit the Google Form and fill out our application!</a>
        </p>
        <p>
          <strong>with thanks to</strong> our friends and members of the Django community for allowing us to review and borrow 
          from their program.
        </p>
      </div>

      <div class="col-lg-6">
        <h3 class="top1">can you help us?</h3>
        <p>
          <strong>interested in working with the diversity committee?</strong> Help us in our efforts to promote diversity and inclusion 
          in the PostgreSQL community and beyond - we would love your participation! You can 
          <a href="https://forms.gle/RCSJkT2UvtSfMr2C9" rel="noopener" target="_blank">request to join our Diversity Committee here</a>, 
          or if you'd prefer to volunteer your time on specific tasks (from everything ranging from writing, marketing, coding, design, 
          video, recording, mentorship, or anything else you can think of), you can 
          <a href="https://forms.gle/Gr3ZuPRjQDn25PAZ6" rel="noopener" target="_blank">request to be on our volunteer list</a>!
        </p>
        <p>
          <strong>community diversity opportunities</strong> are available - everywhere around the world, there's a local PostgreSQL group 
          seeking volunteers or recruits for specific opportunities to help the PostgreSQL community. Are you available to help? Contact us 
          at <a href="mailto:diversity@postgresql.us">diversity@postgresql.us</a> if you're able to help with any of these open positions!
        </p>
        <ul class="text-left">
          <li>
            VP of OSSH Club at University of Ottawa
          </li>
        </ul>
      </div>

    </div>

    <div class="row">

      <div class="col-lg-12 text-center">
        <h3 class="top3">it's nice to meet you</h3>

        <p>
          <strong>we're the diversity committee</strong> - put some faces to our names!
        </p>

        <div class="d-flex my-4">
          
          <div>
            <img
              class="committee__img img-rounded"
              src="/media/pgus/images/diversitycommittee/quanhale.png"
            />
            <p class="committee__name">
              <strong>
                Quan-Ha Le
              </strong>
            </p>
          </div>

          <div>
            <img
              class="committee__img img-rounded"
              src="/media/pgus/images/diversitycommittee/jenniferscheuerell.jpg"
            />
            <p class="committee__name">
              <strong>
                Jennifer Scheuerell
              </strong>
            </p>
          </div>

          <div>
            <img
              class="committee__img img-rounded"
              src="/media/pgus/images/diversitycommittee/jameschanco.png"
            />
            <p class="committee__name">
              <strong>
                James Chanco
              </strong>
            </p>
          </div>

        <p>
          You can find us posting on the <a href="https://twitter.com/pgus">official @pgus Twitter account</a>, 
          and you can always reach us directly through emailing us at <a href="mailto:diversity@postgresql.us">diversity@postgresql.us</a>
          if you have any questions or desire to connect with us!
        </p>

      </div>

    </div>

  </div>
</section>

{%endblock%}
