{%extends "base_pgus.html"%}
{%load markup%}
{%block title%}Upcoming Events{%endblock%}
{%block layoutblock%}
<section id="three" class="wrapper">
  <div class="container">
    <header class="align-center">
      <h2>upcoming events</h2>
    </header>
    {%for event in events%}
	      <h3>{{event.conferencename}}</h3>
	      <h4>{{event.conferencedatestr}}</h4>
	      <h5>{{event.location}}</h5>
        {%if event.active%}
        	    <a href="/events/{{event.urlname}}/register/">Open for registration</a>
        {%endif%}
        {%if event.callforpapersopen%}
        	    <a href="/events/{{event.urlname}}/callforpapers/">Call for papers is open</a>
        {%endif%}
        {%if event.callforsponsorsopen%}
        	    <a href="/events/sponsor/signup/{{event.urlname}}/">Call for sponsors is open</a>
        {%endif%}
    {%endfor%}
  </div>
</section>
{%endblock%}
