{%extends "base.html" %}
{%load markup%}
{%block title%}Financial Support{%endblock%}
{%block layoutblock%}
<!-- Three -->
<section id="three" class="wrapper">
  <div class="container">
    <header class="align-center">
      <h2>financial support</h2>
    </header>
    <div>
      <h3 class="top1">help our mission</h3>
      <p>
        The United States PostgreSQL Association provides financial support for a number of United States PostgreSQL activities - this is only made possible
        through the contributions of our fantastic community.
      </p>
      <p>
        We accept donations through <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=1307798">PayPal</a> or
        with a credit card directly.  If you would like to donate using a credit card, please contact
        <a href="mailto:treasurer@postgresql.us">treasurer@postgresql.us</a> and we would be happy to generate an invoice for you.
        If you have any questions or concerns regarding PayPal donations (or if you have any suggestions for ways to
        donate), please <a href="mailto:secretary@postgresql.us">contact us</a>.
      </p>
      <p>
        We also accept checks and money orders, payable to the "United States PostgreSQL Association". We accept mailed donations by mail to the address below:
        <div class="box">
          <p>
            United States PostgreSQL Association<br>
            9220 SW Barbur Blvd<br>
            Ste 119-230<br>
            Portland, OR, 97219
          </p>
        </div>
      </p>
    </div>
    <div class="row">
      <div class="6u 12u$(medium)">
        <h3 class="top2">a helping hand</h3>
        <p>
          If you are a PostgreSQL associated user group, conference, or educational speaker needing financial assistance, we are happy to sponsor you.
        </p>
        <p>
          Our assistance includes but is not limited to:
        </p>
        <ul>
          <li>supporting the needs of PostgreSQL user groups</li>
          <li>providing funds for educational speakers</li>
          <li>assisting with trade show representation necessities</li>
          <li>covering the costs for swag creation (t-shirts, flyers, educational materials, etc.)</li>
        </ul>
        <p>
          Those being fiscally sponsored by PgUS maintain complete independence, free to receive financial sponsorship from other entities and to unassociate
          themselves from PgUS at any time.
        </p>
        <p>
          Those wishing to obtain our services are requested to fill out a formal application. Please email
          <a href="mailto:secretary@postgresql.us">secretary@postgresql.us</a> to receive the application and further instructions. Please note the following:
        </p>
        <ul>
          <li>Name &amp; purpose</li>
          <li>What services are needed</li>
          <li>The liason for communicating with PgUS</li>
        </ul>
      </div>
      <div class="6u 12u$(medium)">
        <h3 class="top3">diversity scholarship</h3>
        <p>
          At the end of 2015, the United States PostgreSQL Association unanimously passed a resolution ear-marking $10,000 of funds for our Diversity Scholarship.
          Since then, the Diversity Committee (comprised of Robert Treat, Kris Pennella, Gabrielle Roth and Lacey Williams Henschel) have been working to create
          guidelines around what would be a beneficial program for the PostgreSQL community.
        </p>
        <p>
          We are pleased to announce the application for the Diversity Scholarship is
          <a href="https://docs.google.com/a/postgresql.us/forms/d/1dgFUVXHgJ0sLAETJaAciLFetvFq5_S0-juZ3g8QyeVc/edit?usp=sharing&ts=58f14198">open and available for submissions</a>.
        </p>
        <p>
          You can apply to have some or all of your conference attendance costs (registration, hotel, airfare) covered. Just like submitting a talk, details count!
          Your application should include specifics of how attending the event will benefit you, and how you plan to share the benefit with others in the community.
        </p>
          The decision making process will be ranked on 1 (low) to 5 (high) in the following areas:
        <ul>
          <li>benefit to the applicant</li>
          <li>benefit to others (conference attendees, community members, applicant's coworkers, fellow students)</li>
          <li>(subjective) how serious do I feel the applicant is?</li>
          <li>(subjective) what is my overall feeling about the application?</li>
        </ul>
        <p>
          Each committee member will score applications in random order, without knowing other committee members' scores.
        </p>
        <p>
          The Diversity Committee would like to thank our friends and members of the Django community for allowing us to review and borrow from their program.
        </p>
      </div>
    </div>
  </div>
</section>
{%endblock%}
