{%extends "base_pgus.html" %}
{%load markup%}
{%block title%}Financial Support{%endblock%}
{%block layoutblock%}
<!-- Three -->
<section id="three" class="wrapper">
  <div class="container">
    <header class="text-center">
      <h2>financial support</h2>
    </header>
    <div>
      <h3 class="top1">help our mission</h3>
      <p>
        The United States PostgreSQL Association provides financial support for a number of United States PostgreSQL activities - this is only made possible
        through the contributions of our fantastic community.
      </p>
      <p>
	    Please consider <a href="/sponsors">signing up as a sponsor</a>.
        We also accept donations through <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=1307798">PayPal</a> or
        with a credit card directly.  If you would like to donate using a credit card, please contact
        <a href="mailto:treasurer@postgresql.us">treasurer@postgresql.us</a> and we would be happy to generate an invoice for you.
        If you have any questions or concerns regarding PayPal donations (or if you have any suggestions for ways to
        donate), please <a href="mailto:contact@postgresql.us">contact us</a>.
      </p>
      <p>
        We also accept checks and money orders, payable to the "United States PostgreSQL Association". We accept mailed donations by mail to the address below:
        <div class="box">
          <p>
            United States PostgreSQL Association<br>
            9450 SW Gemini Dr #62635<br>
            Beaverton, OR, 97008-7105
          </p>
        </div>
      </p>
    </div>
    <div>
      <h3 class="top2">a helping hand</h3>
      <p>
        If you are a PostgreSQL associated user group, conference, or educational speaker needing financial assistance, we are happy to sponsor you.
      </p>
      <p>
        Our assistance includes but is not limited to:
      </p>
      <ul>
        <li>supporting the needs of PostgreSQL user groups</li>
        <li>providing funds for educational speakers</li>
        <li>assisting with trade show representation necessities</li>
        <li>covering the costs for swag creation (t-shirts, flyers, educational materials, etc.)</li>
      </ul>
      <p>
        Those being fiscally sponsored by PgUS maintain complete independence, free to receive financial sponsorship from other entities and to unassociate
        themselves from PgUS at any time.
      </p>
      <p>
        Those wishing to obtain our services are requested to fill out a formal application. Please email
        <a href="mailto:contact@postgresql.us">contact@postgresql.us</a> to receive the application and further instructions. Please note the following:
      </p>
      <ul>
        <li>Name &amp; purpose</li>
        <li>What services are needed</li>
        <li>The liason for communicating with PgUS</li>
      </ul>
    </div>
  </div>
</section>
{%endblock%}
