{%extends "base_pgus.html" %}
{%load pgmarkdown%}
{%block title%}Get Involved{%endblock%}
{%block layoutblock%}
<section class="wrapper">
    <header class="text-center">
        <h2>Get Involved</h2>
    </header>
    <div id="contentWrap">
        <h3>Join pgUS</h3>
        <p>
          Through your membership to pgUS, you influence the growth and education of PostgreSQL. Memberships are $25 for professionals and $10 for students. You'll receive our monthly newsletter about what's happening at pgUS and you'll be able to vote in the annual pgUS elections. <a href="https://postgresql.us/membership">Join today!</a>
        </p>
        <br>
        <h3>Attend a Postgres User Group</h3>
        <p>pgUS sponsors more than 20 meetups across North America and Europe. <a href="https://www.meetup.com/pro/postgresql/">Find a meeting near you</a>.</p>
        <br>
        <h3>Sponsorships</h3>
        <p>
            When your company sponsors PgUS it sends a clear message that they care about the PostgreSQL community. Review our information about the benefits of <a href="/sponsors">signing up as a sponsor</a>.
        </p>
        <br>
        <h3>Donations</h3>
        <p>
            We also accept donations through <a
                href="https://www.paypal.com/donate/?hosted_button_id=4CCHD8NUXB4JG">PayPal</a> or
            with a credit card directly. If you would like to donate using a credit card, please contact
            <a href="mailto:treasurer@postgresql.us">treasurer@postgresql.us</a> and we would be happy to generate
            an
            invoice for you.
            If you have any questions or concerns regarding PayPal donations (or if you have any suggestions for
            ways to
            donate), please <a href="mailto:contact@postgresql.us">contact us</a>.
        </p>
        <p>
            If your employer participates in the Benevity Workplace Giving Program, you can make donations to PgUS
            through
            payroll withholding.
            Some companies provide a matching amount as well! More information about Benevity can be found at <a
                href="https://www.benevity.com">www.benevity.com</a>.
        </p>
        <p>
            We are also registered with Nonprofit Connect (<a href="https://yourcause.com/">yourcause.com</a>),
            which
            operates a
            similar workplace giving program for one-time or recurring donations, along with the option for an
            employer
            match.
        </p>
        <p>
            If you shop at Amazon, you can designate PgUS as your preferred recipient in the Amazon Smile donation
            program.
            Amazon will donate 0.5% of your purchases to PgUS, with no effort required on your part once you’ve
            selected
            PgUS
            for the donations. Simply use <a href="https://smile.amazon.com/ch/26-2194507">this link</a>, log into
            your
            Amazon account, and shop as usual!
        </p>
        <p>
            We also accept checks and money orders, payable to the "United States PostgreSQL Association". We accept
            donations by mail to the address below:
        <div class="box">
            <p>
                United States PostgreSQL Association<br>
                9450 SW Gemini Dr #62635<br>
                Beaverton, OR, 97008-7105
            </p>
        </div>
        </p><br>
        <h3>Volunteer</h3>
        <p>We’re always looking for volunteers to help staff our committees, community booths, user groups, events, and many other projects! Fill out our <a href="https://docs.google.com/forms/d/e/1FAIpQLScbgAsSLbvdmx89SsYMDxLM6pkpVNloXmOYWxP9bbdcZBR1vA/viewform">volunteer introduction form</a>, and let's get started.</p>
        
        </section>
{%endblock%}