{%extends "base_pgus.html" %}
{%load markup%}
{%block title%}Code of Conduct Policy{%endblock%}
{%block layoutblock%}

  		<!-- Three -->
  			<section id="three" class="wrapper">
  				<div class="container">
            <header class="text-center">
              <h2>Code of Conduct Policy</h2>
            </header>
        <p>
          The United States PostgreSQL Association (PgUS) is dedicated to providing a harassment-free experience for everyone.
        </p>
        <p>
          We do not tolerate harassment of PgUS members in any form. Sexual language and imagery is not
          appropriate for any venue, including exhibition booths, talks and social events around PgUS. Members
          violating these rules may be sanctioned or expelled from the corporation without a refund at the
          discretion of the PgUS board of directors or members.
        </p>
        <p>
          Harassment includes offensive verbal comments related to gender, sexual orientation, disability,
          physical appearance, body size, race, religion, displaying sexual images in public spaces, deliberate
          intimidation, stalking, following, harassing photography or recording, sustained disruption of talks
          or other events, inappropriate physical contact, and unwelcome sexual attention. Participants asked to
          stop any harassing behavior are expected to comply immediately.
        </p>
        <p>
          If a participant engages in harassing behavior, the PgUS board of directors or members may take any
          action they deem appropriate, including ejection from the corporation with no refund. If you feel that
          you are being harassed, notice that someone else is being harassed, or have any other concerns, please
          contact a PgUS board member immediately.
        </p>
        <p>
          Thank you for your help in making PgUS fun and enjoyable for everyone!
        </p>
              </div>
            </div>
  				</div>
  			</section>
{%endblock%}
