{%extends "base_pgus.html" %}
{%load pgmarkdown%}
{%block title%}Whistleblower Policy{%endblock%}
{%block layoutblock%}

<!-- Three -->
<section id="three" class="wrapper">
	<header class="text-center">
		<h2>Whistleblower Policy</h2>
	</header>
	<div id="contentWrap">
		<p>
			The United States PostgreSQL Association ("PgUS") requires directors, officers, employees, and
			volunteers to observe high standards of business and personal ethics in the conduct of their duties and
			responsibilities. As representatives of PgUS, we must practice honesty and integrity in fulfilling our
			responsibilities, and comply with all applicable laws and regulations.
		</p>
		<h3>Reporting Responsibility</h3>
		<p>
			This policy is intended to encourage and enable individuals to report suspected mismanagement, gross
			waste of funds, fraud or abuse of authority internally so that PgUS can address and correct inappropriate
			and/or unlawful conduct and actions. It is the responsibility of all Board members, officers, directors,
			employees, volunteers, and other individuals to report concerns about violations of PgUS’ policies or
			suspected violations of law or regulations that govern PgUS’ operations.
		</p>
		<h3>No Retaliation</h3>
		<p>
			We prohibit retaliation of any kind. It is contrary to the values of PgUS for anyone to retaliate against
			any
			Board member, officer, director, employee, volunteer, or other individual who in good faith reports
			suspected mismanagement, gross waste of funds, fraud or abuse of authority. We do not tolerate any
			retaliation against an individual who has made a good faith report. Concerns of retaliation will be
			investigated. Individuals found to have engaged in retaliation will be subject to corrective action up to
			termination of employment or association with PgUS.
		</p>
		<h3>Reporting Procedure</h3>
		<p>
			PgUS has an open door policy and recommends that individuals make reports to an Officer or Board
			member. If you are not comfortable speaking with an Officer or Board member, or you are not satisfied
			with that person’s response, you are encouraged to speak with another Officer or Board member.
			Individuals with concerns or complaints may also submit their reports in writing directly to the
			organization’s Compliance Contact. Any Officer or Board member who fields a report is required to refer
			the report in writing to PgUS’ Compliance Contact, who will investigate (or have investigated) all
			whistleblowing reports.
		</p>
		<h3>Compliance Contact</h3>
		<p>
			Our current Compliance Contact is our outside attorney, Steve Nofziger, whose phone number is
			503.553.3126 and email address is <a href="mailto:steve.nofziger@foster.com">steve.nofziger@foster.com</a>.
			Reports may also be made anonymously by telephone by calling +1.503.972.1579.
		</p>
		<p>
			PgUS’ Compliance Contact is responsible for ensuring that all whistleblowing reports are impartially
			investigated and resolved. The Compliance Contact will advise the Officers and Board of Directors of the
			substance of all reports, the findings of the investigation, and recommended actions, if any.
		</p>
		<h3>Accounting and Auditing Matters</h3>
		<p>
			PgUS' Compliance Contact shall immediately notify the Officers and Board of Directors of any concerns
			or complaints regarding corporate accounting practices, internal controls, or auditing, and work with the
			Officers and Board of Directors until the matter is resolved.
		</p>
		<h3>Acting in Good Faith</h3>
		<p>
			Anyone making a report of information that the individual believes is evidence of a violation of a state or
			federal law, rule or regulation, or mismanagement, gross waste of funds, fraud or abuse of authority must
			be acting in good faith. Any allegations that prove not only to be unsubstantiated, but to have been made
			maliciously or in bad faith, will be viewed as a serious community offense and will lead to corrective
			action.
		</p>
		<h3>Confidentiality</h3>
		<p>
			Suspected violations may be submitted on a confidential basis by the reporter. We will try to keep the
			identity of the reporter confidential to the extent practicable. We cannot guarantee that no one will figure
			it out simply by the nature of the allegations or investigation, and there may be situations where we need
			to disclose the identity of the person who has made the report in order to conduct a thorough and adequate
			investigation.
		</p>
		<h3>Handling of Reported Violations</h3>
		<p>
			PgUS’s Compliance Contact will notify the person who made the report and acknowledge receipt of the
			reported violation or suspected violation. All reports will be promptly investigated and appropriate
			corrective action will be taken if warranted by the investigation. Upon completion of the investigation,
			PgUS’s Compliance Contact will follow up with the reporter to apprise them that the investigation has
			concluded and corrective action has been taken, if warranted.
		</p>
	</div>
</section>
{%endblock%}