{%extends "base_pgus.html" %}
{%load pgmarkdown%}
{%block title%}Policies{%endblock%}

{%block heroblock%}
<section id="hero">
  <div class="outer">
    <div class="inner">
      <h1>Privacy Policy</h1>
    </div>
  </div>
  <svg preserveAspectRatio="none" viewBox="0 0 1440 96" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="m0 96 80-5.3C160 85 320 75 480 64s320-21 480-21.3c160 .3 320 10.3 400 16l80 5.3V0H0v96Z"></path>
  </svg>
</section>
{%endblock%}

{%block layoutblock%}

<!-- Three -->
<section id="three" class="wrapper">
	<div id="contentWrap">
		<p>
			When you visit our website, our servers automatically log your IP address and/or host name.
			<br><br>
			We store information such as your email address, name and locality only if you decide to send us such
			information by completing a survey, or registering as a user on one of our sites. We collect this
			information to
			help us improve the content of our sites, customize the layout of our web pages and to contact people for
			technical and support purposes. We will not share your email address with other organizations unless
			required by
			law.
			<br><br>
			We may collect demographic and interest category information from people via surveys, volunteered
			information,
			suggestions from members, and other means. Our members may voluntarily provide information, including that
			regarding personal, interests, geography, and demographics. The purpose of this data collection is to ensure
			we
			continue to understand the needs and wants of the PostgreSQL US community, and therefore can provide the
			most
			relevant information, guides, and content.
		</p>
	</div>
</section>
{%endblock%}