{%extends "base_pgus.html" %}
{%load pgmarkdown%}
{%block title%}Policies{%endblock%}
{%block layoutblock%}

  		<!-- Three -->
  			<section id="three" class="wrapper">
            <header class="text-center">
              <h2>Committee Membership Selection Policy</h2>
            </header>
        <ol>
          <li>
            Each Board Committee must have at least two Board members as active members. Each non-Board Committee must include at least one Board member as an active member. Any number of Board members can be actively involved with a Committee.
          </li>
          <li>
            When forming a new Committee which is to include members who are not on the Board, the Board will put out a general call for members to join the Committee through the organization's regular channels of communication, with a period of at least 10 business days for interested persons to reply.<br/>
            The Board will review the replies, and choose the initial Committee members.<br/>
            The review process should be completed within 10 business days of the close of applications.
          </li>
          <li>
            For term renewals for an existing Committee, the Board will put out a general call for members in accordance with its usual practices.<br/>
            The existing Committee members will review the replies and make a recommendation to the Board. The review process should be completed within 10 business days of the close of applications.<br/>
            The Board may choose to accept the recommendation in whole or in part, in accordance with its usual voting procedures. <br/>
            If the Board accepts only some of the recommended Committee members, it will engage in a discussion with the existing Committee to reach a mutually acceptable outcome. <br/>
            If the Board and the existing Committee are unable to reach consensus, the Board will fill the remaining slots from the applicants received as it deems in the best interests of the organization, in accordance with its usual voting procedures.<br/>
            The selection of new members should be completed within 25 calendar days of the close of applications. 
          </li>
          <li>
            If an individual expresses interest in joining a Committee outside of the standard recruitment cycle, that individual's information will be provided to the Committee to determine whether to add the individual, subject to Board approval.
          </li>
          <li>
            A Board Committee must have a Board member as its Chair. A non-Board Committee may elect a Chair or Co-Chairs as determined by a majority vote of the Committee members, subject to Board review.
          </li>
          <li>
            All Committee members must maintain their PgUS membership in good standing during their term of service.
          </li>
          <li>
            Committee members serve a one year term, and can serve as many consecutive terms as they choose, subject to Board review. <br/>
            The Board may choose not to renew a Committee member's term, or to end the member's term early, if the Board has concerns about the member's performance of their duties, the Committee member's PgUS membership is terminated for cause, or for other concerns about the Committee member's involvement with the Committee or PgUS.<br/>
            Additionally, any individual Committee member may raise with the Board their concerns about the conduct or performance of any other member of the Committee on which they serve.<br/>
            Individuals who interact with the Committee, whether or not they are members of PgUS, may also contact the Board with their concerns about a Committee member's conduct or performance of their duties. <br/>
            Committee members, PgUS members, and non-member individuals who interact with the Committee may also use the Association's whistleblower reporting mechanism to express their concerns if they feel unable to approach the Board as a whole, or any of the Directors individually.<br/>
          </li>
          <li>
            An individual may serve on more than one Committee, subject to Board approval.
          </li>
          <li>
            Committees must meet at least once per calendar month, and provide a report to the Board of their activities, accomplishments, and goals by the fifth calendar day of each month.
          </li>
          <li>
            Committees may self-organize in terms of the timing of meetings and general conduct of Committee business, subject to Board review and the requirements listed here. 
          </li>
          <li>
            If a Committee member is unable to complete their term of service, either through their own decision or the decision of the Board, the Board will conduct a call for Committee members in accordance with its usual practice.
          </li>
        </ol>
              </div>
            </div>
  			</section>
{%endblock%}
