{%extends "base_pgus.html" %}
{%load pgmarkdown%}
{%block title%}Anti-Harrassment Policy{%endblock%}
{%block layoutblock%}

<!-- Three -->
<section id="three" class="wrapper">
	<header class="text-center">
		<h2>Anti-Harrassment Policy</h2>
	</header>
	<div id="contentWrap">
		<h3>Commitment to No Discrimination</h3>
		<p>
			The United States PostgreSQL Association ("PgUS") believes our members and volunteers must be
			treated fairly and with dignity. We are committed to an inclusive environment free from discriminatory
			practices.
		</p>
		<p>
			PgUS and its members benefit from the experiences, expertise and creativity of different persons and
			perspectives. To support that goal, PgUS has certain programs intended to promote diversity and to
			support and encourage the participation of persons from underrepresented groups and such programs and
			policies will be administered in an objective manner for the purpose of increasing diversity and providing
			such support and participation.
		</p>
		<p>
			In all other decisions made by PgUS, we will treat all volunteers and members on the basis of merit
			without regard to any individual’s race, religion, color, gender (including pregnancy or childbirth-related
			medical conditions), national origin or ancestry, age, physical or mental disability, sexual orientation,
			actual or perceived gender identity or expression, marital status, military or veteran status, genetic
			information, or any other characteristic or status that federal, state, or local laws protect from
			discrimination.
		</p>
		<p>
			If you believe you have experienced discrimination, please report it to any member of the Board of
			Directors or any of the Corporate Officers with whom you feel comfortable. You can contact the Board
			and Officers as follows:
		<ul>
			<li>
				All Board Members: <a href="board@postgresql.us">board@postgresql.us</a>
			</li>
			<li>
				Individual Board Members:
				<ul>
					<li>Jonathan Katz: <a href="mailto:jkatz@postgresql.us">jkatz@postgresql.us</a></li>
					<li>Mark Wong: <a href="mailto:markwkm@postgresql.us">markwkm@postgresql.us</a></li>
					<li>Michael Brewer: <a href="mailto:mbrewer@postgresql.us">mbrewer@postgresql.us</a></li>
					<li>Stacey Haysler: <a href="mailto:shaysler@postgresql.us">shaysler@postgresql.us</a></li>
					<li>Stephen Frost: <a href="mailto:sfrost@postgresql.us">sfrost@postgresql.us</a></li>
				</ul>
			</li>
			<li>
				Officers:
				<ul>
					<li>President, Stacey Haysler: <a href="mailto:shaysler@postgresql.us">shaysler@postgresql.us</a>
					</li>
					<li>Vice President, Stephen Frost: <a href="mailto:sfrost@postgresql.us">sfrost@postgresql.us</a>
					</li>
					<li>Secretary, Michael Brewer: <a href="mailto:mbrewer@postgresql.us">mbrewer@postgresql.us</a></li>
					<li>Treasurer, Mark Wong: <a href="mailto:markwkm@postgresql.us">markwkm@postgresql.us</a></li>
				</ul>
			</li>
		</ul>
		</p>
		<p>
			If you are not comfortable making a report to a Director or Officer, you may contact the Association’s
			attorney:<br>
			Steven D. Nofziger, Esq.<br>
			Foster Garvey PC<br>
			121 SW Morrison Street, Suite 1100<br>
			Portland, OR 97204<br>
			Tel: 503.553.3126<br>
			steven.nofziger@foster.com<br>
		</p>
		<p>
			Reports may also be made anonymously by telephone to:<br>
			+1.503.972.1579.
		</p>
		<p>
			All reports will be investigated promptly and objectively. In the event PgUS determines that a member or
			volunteer has been treated unfairly or disrespectfully in violation of our policy, we will take prompt and
			effective action to respond. Furthermore, we will not retaliate against you for filing a complaint and we
			will not tolerate retaliation against you by any of our members or volunteers.
		</p>
		<h3>Commitment to No Harassment</h3>
		<p>
			PgUS is committed to providing an environment free of harassment. Our policy prohibits sexual
			harassment and any harassment based on pregnancy, childbirth or related medical conditions, race,
			religious creed, color, gender, national origin or ancestry, physical or mental disability, medical
			condition,
			marital status, age, sexual orientation, gender identity, gender expression, military and veteran status,
			genetic information, or any other basis protected by federal, state, or local law or ordinance or
			regulation.<br>
			<i>Any such harassment will not be tolerated.</i>
		</p>
		<p>
			Our anti-harassment policy applies to all persons involved in the operation of PgUS and prohibits
			harassment by any member or volunteer of PgUS, including vendors, clients, event attendees, and any
			other persons. It also prohibits harassment of another individual based on the perception that the
			individual is in a protected class or is associated with a person who has or is perceived as being in a
			protected class.
		</p>
		<p>
			<b>Prohibited harassment includes, but is not limited to, the following behavior:</b>
		<ol>
			<li>
				Threats and demands to submit to sexual requests as a condition of continued membership or
				volunteer involvement, or to avoid some other loss, or gain other benefits;
			</li>
			<li>
				Basing any PgUS decision on submission or rejection by a member or volunteer of unwelcome sexual
				advances, requests for sexual favors or verbal or physical contact of a sexual nature; selective
				enforcement of our rules or policies;
			</li>
			<li>
				Creating an intimidating, hostile or offensive environment or atmosphere by any of the following:
				<ol>
					<li>
						<b>Verbal actions,</b> including but not limited to using vulgar or demeaning language (whether
						or not such language was intended as a joke); epithets; slurs; excessive profanity or
						obscenities; telling jokes or stories that relate to protected characteristics; using
						stereotypes
						– even positive ones; mimicking or belittling accents, language, or speech patterns, or
						unwanted sexual advances, invitations for sexual contact, or comments of a sexual nature;
					</li>
					<li>
						<b>Visual actions,</b> including but not limited to posting, sending or circulating electronic
						images that are of a sexual or off-color nature, pictures, graffiti, posters, letters,
						photography, cartoons, drawings, or gestures that are of a sexual nature or that belittle or
						show hostility towards a group or person;
					</li>
					<li>
						<b>Physical conduct,</b> including but not limited to unwanted touching or other unwanted
						physical contact, sexual or physical assault, intentionally blocking normal movement,
						intimidating or threatening someone, or interfering with an individual’s work because of
						their protected class;
					</li>
				</ol>
			</li>
			<li>
				Retaliation for reporting or threatening to report harassment.
			</li>
		</ol>
		</p>
		<p>
			Note that <b>any</b> hostile or unwanted/unwelcome treatment can constitute harassment, regardless of
			whether
			the treatment was motivated by positive intent, sexual desire or some other motivation.
		</p>
		<p>
			We do encourage appropriate and collegial relationships among our members and volunteers; however,
			individuals must be sensitive to the fact that their attention may be unwanted and/or their conduct may be
			considered offensive by others. In these situations, individuals must refrain from engaging in such
			conduct.
		</p>
		<h3>Commitment to No Retaliation</h3>
		<p>
			We prohibit any type of retaliatory action against anyone who experiences or witnesses harassment or
			discrimination and then makes a report or assists in its investigation. <b>Retaliation is a violation of
				this
				policy and will result in corrective action, up to and including termination of membership and
				volunteer status.</b> No individual will be discriminated against, discharged, or suffer any form of
			retaliation for bringing a good faith report or for participating in an investigation of a report of
			harassment.
		</p>
		<h3>Reporting Process</h3>
		<p>
			If you observe, become aware of, or encounter any of the above-listed actions or behavior by a member,
			volunteer, client, consultant, visitor, or anyone else, you should notify a PgUS Board Member
			immediately after the incident so that reports can be investigated and effective remedial relief can be
			taken, if warranted. All reports of discrimination, harassment, and retaliation will be taken seriously and
			will be investigated promptly, objectively, and thoroughly.
		</p>
		<p>
			As we strongly encourage you to report your concerns, you are free to contact any member of the Board
			of Directors or any of the Corporate Officers:
		<ul>
			<li>
				All Board Members: board@postgresql.us
			</li>
			<li>
				Individual Board Members:
				<ul>
					<li>Jonathan Katz: <a href="mailto:jkatz@postgresql.us">jkatz@postgresql.us</a></li>
					<li>Mark Wong: <a href="mailto:markwkm@postgresql.us">markwkm@postgresql.us</a></li>
					<li>Michael Brewer: <a href="mailto:mbrewer@postgresql.us">mbrewer@postgresql.us</a></li>
					<li>Stacey Haysler: <a href="mailto:shaysler@postgresql.us">shaysler@postgresql.us</a></li>
					<li>Stephen Frost: <a href="mailto:sfrost@postgresql.us">sfrost@postgresql.us</a></li>
				</ul>
			</li>
			<li>
				Officers:
				<ul>
					<li>President, Stacey Haysler: <a href="mailto:shaysler@postgresql.us">shaysler@postgresql.us</a>
					</li>
					<li>Vice President, Stephen Frost: <a href="mailto:sfrost@postgresql.us">sfrost@postgresql.us</a>
					</li>
					<li>Secretary, Michael Brewer: <a href="mailto:mbrewer@postgresql.us">mbrewer@postgresql.us</a></li>
					<li>Treasurer, Mark Wong: <a href="mailto:markwkm@postgresql.us">markwkm@postgresql.us</a></li>
				</ul>
			</li>
		</ul>
		</p>
		<p>
			If you are not comfortable making a report to a Director or Officer, you may contact the Association’s
			attorney:<br>
			Steven D. Nofziger, Esq.<br>
			Foster Garvey PC<br>
			121 SW Morrison Street, Suite 1100<br>
			Portland, OR 97204<br>
			Tel: 503.553.3126<br>
			steven.nofziger@foster.com<br>
		</p>
		<p>
			Reports may also be made anonymously by telephone to:<br>
			+1.503.972.1579.
		</p>
		<p>
			<b>Discipline:</b> If we determine that a violation of this policy has occurred, we will take appropriate
			corrective action, up to and including termination of membership and/or volunteer status of the individual
			who violated the policy, or other appropriate corrective action if the person is not a member or volunteer.
		</p>
	</div>
</section>
{%endblock%}