{%extends "base_pgus.html" %}
{%load pgmarkdown%}
{%block title%}Policies{%endblock%}
{%block layoutblock%}

  		<!-- Three -->
  			<section id="three" class="wrapper">
  				<div class="container">
            <header class="text-center">
              <h2>Policies</h2>
            </header>
		<h3 class="top2">PgUS Policies</h3>
        <ul>
          <li><a href="/policy_antiharrassment">Anti-Harrassment</a></li>
          <li><a href="/policy_coc">Code of Conduct</a></li>
          <li><a href="/policy_committee_selection">Committee Selection</a></li>
          <li><a href="/policy_communications">Communications</a></li>
          <li><a href="/policy_privacy">Privacy</a></li>
          <li><a href="/policy_whistleblower">Whistleblower</a></li>

        </ul>
		<h3 class="top2">PostgreSQL Policies</h3>
        <ul>
          <li><a href="https://www.postgresql.org/about/policies/">Index of PostgreSQL.Org Policies</a></li>
          <li><a href="https://www.postgresql.org/community/recognition/#npos">Recognised PostgreSQL Nonprofit Organisations</a></li>
          <li><a href="https://www.postgresql.org/community/recognition/#conferences">Community Conference Recognition</a></li>
          <li><a href="https://www.postgresql.org/about/policies/coc/">Code of Conduct</a></li>
        </ul>
		<h3 class="top2">terms & conditions</h3>
		<p>
		By visiting our website and using our servers you agree to comply with the terms and conditions of this Acceptable Use Policy.
		<br><br>
		You may not use our website in connection with any activity that involves:
		<ul>
		<li>Violates any law or government regulation, or promotes or facilitates such by third parties;</li>
		<li>Violates any rule or regulation of Visa, Mastercard, American Express, Discover or any other electronic funds transfer network (each, a "Card Network")</li>
		<li>Is fraudulent, deceptive, unfair or predatory</li>
		</ul>
		<br><br>
		</p>
              </div>
            </div>
  				</div>
  			</section>
{%endblock%}
