{%extends "base_pgus.html" %}
{%load pgmarkdown%}
{%block title%}Policies{%endblock%}

{%block heroblock%}
<section id="hero">
  <div class="outer">
    <div class="inner">
      <h1>Policies</h1>
    </div>
  </div>
  <svg preserveAspectRatio="none" viewBox="0 0 1440 96" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="m0 96 80-5.3C160 85 320 75 480 64s320-21 480-21.3c160 .3 320 10.3 400 16l80 5.3V0H0v96Z"></path>
  </svg>
</section>
{%endblock%}

{%block layoutblock%}

<!-- Three -->
<section id="three" class="wrapper">
  <div id="contentWrap">
    <div class="row">
      <div class="col-md-6">
        <h3>PgUS Policies</h3>
        <ul>
          <li><a href="/policy_antiharrassment">Anti-Harrassment</a></li>
          <li><a href="/policy_coc">Code of Conduct</a></li>
          <li><a href="/policy_committee_selection">Committee Selection</a></li>
          <li><a href="/policy_communications">Communications</a></li>
          <li><a href="/policy_privacy">Privacy</a></li>
          <li><a href="/policy_whistleblower">Whistleblower</a></li>

        </ul>
      </div>
      <div class="col-md-6">

        <h3>PostgreSQL Policies</h3>
        <ul>
          <li><a href="https://www.postgresql.org/about/policies/">Index of PostgreSQL.Org Policies</a></li>
          <li><a href="https://www.postgresql.org/about/policies/npos/">Recognised PostgreSQL Nonprofit
              Organisations</a></li>
          <li><a href="https://www.postgresql.org/about/policies/conferences/">Community Conference
              Recognition</a>
          </li>
          <li><a href="https://www.postgresql.org/about/policies/coc/">Code of Conduct</a></li>
        </ul>
      </div>
    </div>
    <h3>Terms & Conditions</h3>
    <p>
      By visiting our website and using our servers you agree to comply with the terms and conditions of this Acceptable
      Use Policy.
      You may not use our website in connection with any activity that involves:
    <ul>
      <li>Violates any law or government regulation, or promotes or facilitates such by third parties;</li>
      <li>Violates any rule or regulation of Visa, Mastercard, American Express, Discover or any other electronic funds
        transfer network (each, a "Card Network")</li>
      <li>Is fraudulent, deceptive, unfair or predatory</li>
    </ul>
    </p>
  </div>
  </div>
  </div>
</section>
{%endblock%}