{%extends "base_pgus.html" %}
{%load markup%}
{%block title%}Communications Policy{%endblock%}
{%block layoutblock%}

  		<!-- Three -->
  			<section id="three" class="wrapper">
  				<div class="container">
            <header class="text-center">
              <h2>Communications Policy</h2>
            </header>
        <p>
          The United States PostgreSQL Association (the Association) has established the following
		  policies for use of Association systems, communications media (including social media
		  channels), and electronic devices.
        </p>
		<h3 class="top2">Electronic Media</h3>
        <p>
		  The Association uses electronic mail and other types of electronic communication
		  mechanisms to facilitate communication in the conduct of the Association's business.
        </p>
        <p>
		  We expect our volunteers to be professional and respectful when using email, chat
		  communications, or other media when conducting Association business. Sending messages
		  that could be considered offensive, harassing, or discriminatory is prohibited. Help us make
		  these methods of communication as effective as possible by using them efficiently and
		  responsibly.
        </p>
        <p>
		  When you are using Association resources, please remember:
		  <ul>
			  <li>
				  Take suitable precautions to secure Association information sent over the internet. At a
				  minimum, you should use strong passwords and an encrypted password manager to
				  store Association credentials.
			  </li>
			  <li>
				  Use caution and common sense when accessing from public or unsecured networks; a
				  VPN will protect both PgUS information and any other personal or employer-related
				  information sent across the network.
			  </li>
			  <li>
				  When you use Association resources to distribute communications, recipients assume
				  that you are speaking on behalf of the Association.
			  </li>
			  <li>
				  Communications sent over the internet are not guaranteed to be confidential.
			  </li>
		  </ul>
		</p>
		<p>
		  Using electronic communications systems appropriately ensures that you are helping the
		  Association to:
		  <ul>
			  <li>
				  Limit potential computer viruses and malicious activity.
			  </li>
			  <li>
				  Prevent the violation of copyright or licensing agreements.
			  </li>
			  <li>
				  Avoid the introduction of inappropriate or offensive materials into the Association.
			  </li>
		  </ul>
        </p>
		<p>
			<b>
				The Association reserves the right to access all information stored on its computers,
				networks, servers and email system. For this reason, you should have no expectation
				that anything you create, send, or receive on channels managed by the Association
				will be private.
			</b>
		</p>
		<p>
		  In order to prevent electronic and internet-related abuses, and the presence of unauthorized
		  copyrighted material or obscene or derogatory material on the Association’s system, you must
		  observe the following usage restrictions:
		  <ul>
			  <li>
				  Only authorized, lawful email, chat, and internet-derived material should be viewed or
				  saved on the Association’s systems.
			  </li>
			  <li>
				  You must exercise the same controls in communications over the internet and intranet
				  (email and chat included) as you use in your professional written communications.
			  </li>
			  <li>
				  All unauthorized copyrighted material, including text, pictures, and sound should be
				  deleted from the system and not be utilized, kept, or forwarded.
			  </li>
			  <li>
				  Our system is to be used only for the conduct of Association business. Please confine
				  your personal use of the internet, email, and chat to your personal accounts.
			  </li>
			  <li>
				  Use your Association email address for contact, communications, etc. only where it is
				  directly related to Association business.
			  </li>
			  <li>
				  In accordance with the Association's Anti-Harassment Policy, which has also been
				  provided to you, it is strictly prohibited to use the Association’s equipment, systems,
				  networks, internet service providers, electronic storage space, electronic media
				  (including email, chat, and other communications channels) to send, receive, browse,
				  view or participate in any way in unlawful, offensive , obscene, pornographic,
				  harassing, discriminatory, derogatory, or otherwise questionable material.
			  </li>
			  <li>
				  If you have a complaint about unauthorized or offensive online conduct, or offensive
				  communications from inside or outside the Association, you should immediately report
				  the incident as outlined in the Anti-Harassment Policy. A thorough investigation of such
				  claims will be conducted, and prompt, effective measures taken in accordance with the
				  results of the investigation.
			  </li>
		  </ul>
		</p>
		<h3 class="top2">Use of Mobile Telephones and Portable Electronics</h3>
		<p>
		  Many mobile phones and other portable electronic devices come with built-in photo cameras,
		  as well as audio and video recording capabilities. Although these features are fun for personal
		  use, using them in the context of Association business can lead to violations of privacy and
		  breaches of confidentiality.
		</p>
		<p>
		  Additionally, laws on electronic recording vary by location, and it is not possible for the
		  Association to create a policy which satisfies the disparate legal requirements.
		</p>
		<p>
		  Therefore, please do not use any photographic or recording devices, including cameras and
		  the recording capabilities of mobile phones or other portable electronics, while conducting
		  Association business. If you believe that recording a particular meeting or event is necessary,
		  please contact the Association's Board of Directors to discuss the matter.
		</p>
		<b>Prohibited Use of Mobile Phone and Other Electronic Devices While Driving</b>
		<p>
		  In the interest of the safety of our volunteers and other drivers, you should not use your
		  mobile phone or other electronic device while driving on Association business and/or
		  Association time. But really, you should do this all the time. The Association expects you to
		  know and to comply with all state and federal laws governing use of mobile phones and other
		  communication devices while driving.
		</p>
		<h3 class="top2">Association Property</h3>
		<p>
		  Association systems and accounts are to be used exclusively for the conduct of Association
		  business. The Association reserves the right to monitor voicemail messages and email
		  messages at any time to ensure compliance with this rule, with or without notice to the
		  volunteer.
		</p>
		<p>
		  The Association may periodically assign and/or change passwords and personal codes for
		  voicemail, email, and other systems. The Association reserves the right to keep a record of all
		  passwords and codes used, and is able to override all passwords on its systems.
		</p>
		<p>
		  All Association accounts and systems access provided to you are the property of the
		  Association and, as such, we have the right to revoke any and all privileges at any time, with
		  or without notice.
		</p>
		<p>
		  All equipment you use to access Association accounts and information should be password-
		  protected with a secure password. Do not leave devices unlocked and unattended when you
		  are logged into Association accounts.
		</p>
		<p>
		  All equipment should be kept in a safe place when not in use. Equipment should never be left
		  in an unattended vehicle, even if the vehicle is locked. When traveling, keep all devices on
		  your person or in your carry-on bag, and do not put these items in your checked bag.
		</p>
		<p>
		  If any piece of equipment with Association information is lost or stolen, immediately notify the
		  Association Board of Directors, so that they can take appropriate action.
		</p>
		<h3 class="top2">Personal Websites and Blogs</h3>
		<p>
		  In general, the Association views personal websites and blogs positively, and it respects the
		  right of individuals to use them as a medium of self-expression, with reasonable care taken to
		  protect Association confidentiality.
		</p>
		<p>
		  If you choose to identify yourself as a volunteer with the Association, or to discuss matters
		  related to the Association‘s business on your website or blog, please bear in mind that,
		  although you and we view your website or blog as a personal project and a medium of
		  personal expression, some readers may nonetheless view you as a de facto spokesperson
		  for the Association.  In light of this possibility, we ask that you observe the following
		  guidelines:
		  <ul>
			  <li>
				  Please make it clear to your readers that the views you express are yours alone and
				  that they do not necessarily reflect the views of the Association.
			  </li>
			  <li>
				  Know and follow the Association's Professional Conduct guidelines, outlined below.
			  </li>
			  <li>
				  Take care not to disclose any information that is confidential or proprietary to the
				  Association or to any third party that has disclosed information to us.
			  </li>
			  <li>
				  You are personally responsible for your posts. Be mindful that what you write will be
				  public for a long time.
			  </li>
			  <li>
				  Write in the first person - you <b>must</b> make it clear that you are speaking for
				  yourself and not on behalf of the Association.
			  </li>
			  <li>
				  Respect copyright, fair use, and financial disclosure laws.
			  </li>
			  <li>
				  Since your site is a public space, we expect that you will be as respectful to the
				  Association, our volunteers, our partners and affiliates, and others as the Association
				  itself endeavors to be. Negative posts regarding the Association, other volunteers or
				  members of the Association (either past or present), or other Association-related
				  material could create liability for the Association and for you personally.
			  </li>
			  <li>
				  Please be aware that the Association may request that you temporarily confine your
				  website or blog commentary to topics unrelated to the Association if it believes this is
				  necessary or advisable to ensure compliance with applicable laws, and/or on the advice
				  of the Association's attorney.
			  </li>
		  </ul>
		  If you have any questions about these guidelines or any matter related to your site that these
		  guidelines do not address, please direct them to the Association's Board of Directors.
		</p>
		<h3 class="top2">Professional Conduct Guidelines</h3>
		<p>
		  We want our volunteers and members to have a professional and pleasant environment. It is
		  our goal to provide an environment wherein you can operate effectively and comfortably, meet
		  professional goals, and develop positive relationships with other volunteers and members of
		  the Association.
		</p>
		<p>
		  Your conduct when working as a volunteer or presenting yourself as a member of PgUS
		  reflects on the Association, and is therefore important to us. We have established these
		  guidelines to clarify the Association’s expectations of appropriate conduct. Failure to abide by
		  these guidelines could be grounds for removal of your status as a volunteer, and possible
		  termination of your membership with the Association.
		</p>
		<ul>
			<li>
				We expect our members and volunteers to be considerate towards everyone you
				interact with as part of your volunteer work.
			</li>
			<li>
				We expect that you will take suitable precautions for the safety of yourself and others
				in your work, and that you will not create any dangerous situations or create liability for
				yourself, for others, or for the Association in your volunteer activities.
			</li>
			<li>
				We expect that you will be respectful towards everyone you interact with as part of
				your volunteer work for the Association and at Association events, and that you will not
				not engage in any disrespectful or harassing conduct.
			</li>
			<li>
				PgUS complies with the laws and regulations of the United States, the State of
				Oregon, and local or state laws applicable to PgUS in-person events. Volunteers and
				members must always follow all applicable law, and should never engage in illegal
				activity.
			</li>
			<li>
				PgUS puts significant effort into forming policies and establishing procedures to create
				a positive and fair environment for our members and volunteers. All members and
				volunteers are required to read, sign, and follow PgUS’ policies.
			</li>
			<li>
				When agreeing to take on a volunteer role, project, or task, we expect that you will
				meet agreed-upon deadlines and complete the work in a satisfactory manner, or that
				you will notify the appropriate Committee Chair or the Board if you will be unable to do
				so.
			</li>
			<li>
				We expect all members and volunteers to conduct themselves with complete honesty
				and integrity. Records must be maintained accurately and completely, and all
				information and communications must be truthful and complete.
			</li>
			<li>
				We expect that you will maintain Association property in usable condition, and keep it
				secure. Association property shall be returned at the conclusion of your volunteer
				duties, or earlier if requested.
			</li>
			<li>
				Association systems, property, and equipment should only be used for Association-
				related activity as approved by the Board, and never for personal gain or unauthorized
				activity.
			</li>
			<li>
				We expect that you will conduct yourself in a professional, ethical manner, and that you
				will refrain from conduct which may disgrace the Association or any of its affiliates,
				members, or associates, or which may cause material injury to the members,
				operations, or ongoing activities of the Association, or its affiliates, members, or
				associates.
			</li>
		</ul>
		Failure to follow these guidelines, or acting in a manner which is unprofessional or
		inappropriate as determined by the Board, will be grounds for action by the Association,
		including possible termination of your volunteer status and your membership in the
		Association.
              </div>
            </div>
  				</div>
  			</section>
{%endblock%}
