{%extends "base_pgus.html" %}
{%load pgmarkdown%}
{%block title%}Sponsors{%endblock%}

{%block heroblock%}
<section id="hero">
  <div class="outer">
    <div class="inner">
      <h1>Sponsors</h1>
    </div>
  </div>
  <svg preserveAspectRatio="none" viewBox="0 0 1440 96" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="m0 96 80-5.3C160 85 320 75 480 64s320-21 480-21.3c160 .3 320 10.3 400 16l80 5.3V0H0v96Z"></path>
  </svg>
</section>
{%endblock%}

{%block layoutblock%}
<!-- Three -->
<section id="three" class="wrapper">
	<div id="contentWrap">

		<div>
			<p>
				The US PostgreSQL Association depends on donations for maintaining the
				corporation and funding volunteer efforts to exhibit PostgreSQL at
				various events throughout the year. Please <a
					href="https://drive.google.com/file/d/1-VVf1MAFeB5Fe-kJ4EzzEd2lKAX_z1xs/view?usp=sharing">consider
					sponsoring us</a> to help the cause and your company logo will be
				presented on this page.
			</p>
			<p>
				You may also simply <a href="/get_involved">make a donation</a>.
				Thank you for your participation and consideration of our
				mission!
			</p>
			<p>
				Any further questions or concerns can be directed to us by using the
				email
				<a href="mailto:contact@postgresql.us">contact@postgresql.us</a>.
			</p>
		</div>

		
	</div>
</section>

{%endblock%}