{%extends "base_pgus.html" %}
{%load pgmarkdown%}
{%block title%}Sponsors{%endblock%}
{%block layoutblock%}
<!-- Three -->
<section id="three" class="wrapper">
  <div class="container">
    <header class="text-center">
      <h2>sponsors</h2>
    </header>
	<div>
      <p>
		The US PostgreSQL Association depends on donations for maintaining the
		corporation and funding volunteer efforts to exhibit PostgreSQL at
		various events throughout the year.  Please <a
		href="https://drive.google.com/file/d/1-VVf1MAFeB5Fe-kJ4EzzEd2lKAX_z1xs/view?usp=sharing">consider
		sponsoring us</a> to help the cause and your company logo will be
		presented on this page.
      </p>
      <p>
		You may also simply <a href="/financialsupport">make a donation</a>.
		Thank you for your participation and consideration of our
		mission!
      </p>
      <p>
		Any further questions or concerns can be directed to us by using the
		email
		<a href="mailto:contact@postgresql.us">contact@postgresql.us</a>.
      </p>
	</div>
    <header class="text-center">
      <h3>gold</h3>
    </header>
	<div class="center">
	    Your logo could be displayed here!
	</div>
    <header class="text-center">
      <h3>silver</h3>
    </header>
	<div class="center">
		<a href="https://www.instaclustr.com/?utm_source=partner&utm_medium=postgresqlassociation&utm_campaign=sponsor">
		  <img src="/media/pgus/images/sponsors/instaclustr.png" />
		</a>
	</div>
    <header class="text-center">
      <h3>bronze</h3>
    </header>
	<div class="center">
	    Your logo could be displayed here!
	</div>
  </div>
</section>

{%endblock%}
