{%extends "base_pgus.html" %}
{%load pgmarkdown%}
{%block title%}Sponsors{%endblock%}
{%block layoutblock%}
<!-- Three -->
<section id="three" class="wrapper">
	<header class="text-center">
		<h2>Sponsors</h2>
	</header>
	<div id="contentWrap">

		<div>
			<p>
				The US PostgreSQL Association depends on donations for maintaining the
				corporation and funding volunteer efforts to exhibit PostgreSQL at
				various events throughout the year. Please <a
					href="https://drive.google.com/file/d/1-VVf1MAFeB5Fe-kJ4EzzEd2lKAX_z1xs/view?usp=sharing">consider
					sponsoring us</a> to help the cause and your company logo will be
				presented on this page.
			</p>
			<p>
				You may also simply <a href="/get_involved">make a donation</a>.
				Thank you for your participation and consideration of our
				mission!
			</p>
			<p>
				Any further questions or concerns can be directed to us by using the
				email
				<a href="mailto:contact@postgresql.us">contact@postgresql.us</a>.
			</p>
		</div>

		
	</div>
</section>

{%endblock%}