{%extends "base_pgus.html" %}
{%load pgmarkdown%}
{%block title%}User Groups{%endblock%}

{%block heroblock%}
<section id="hero">
  <div class="outer">
    <div class="inner">
      <h1>User Groups</h1>
    </div>
  </div>
  <svg preserveAspectRatio="none" viewBox="0 0 1440 96" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="m0 96 80-5.3C160 85 320 75 480 64s320-21 480-21.3c160 .3 320 10.3 400 16l80 5.3V0H0v96Z"></path>
  </svg>
</section>
{%endblock%}

{%block layoutblock%}

<section class="wrapper">
  <div id="contentWrap">
    <h3>Our Mission</h3>
    <p>
      Our goal is to promote education and a sense of community by bringing together Postgres experts and users in
      online and in-person user groups.
    </p>
    <br>
    <h3>Existing User Groups</h3>
    <p>Here are <a href="https://www.meetup.com/pro/postgresql">the user groups that we support</a>:</p>
    <ul>
      <li><a href="https://www.meetup.com/armenia-postgresql-user-group">Armenia PostgreSQL User Group (PG Armenia)</a>
      </li>
      <li><a href="https://www.meetup.com/boston-postgresql-users-group-bpug">Boston PostgreSQL Users Group (BPUG)</a>
      </li>
      <li><a href="https://www.meetup.com/chicago-postgresql-user-group">Chicago PostgreSQL Meetup Group</a></li>
      <li><a href="https://www.meetup.com/DC-PostgreSQL-Users-Group">DC PostgreSQL Users Group</a></li>
      <li><a href="https://www.meetup.com/Dubai-PostgreSQL-User-Group">Dubai PostgreSQL User Group</a></li>
      <li><a href="https://www.meetup.com/Islamabad-PostgreSQL-User-Group">Islamabad PostgreSQL User Group</a></li>
      <li><a href="https://www.meetup.com/kansas-city-postgres-user-group">Kansas City Postgres User Group</a></li>
      <li><a href="https://www.meetup.com/london-postgresql-meetup-group">London PostgreSQL Meetup Group</a></li>
      <li><a href="https://www.meetup.com/pdxpug">PDXPUG - Portland PostgreSQL Users Group</a></li>
      <li><a href="https://www.meetup.com/PostgresBE">PgBE PostgreSQL Users Group Belgium</a></li>
      <li><a href="https://www.meetup.com/postgres-meetup-for-all">Postgres Meetup for All</a> *</li>
      <li><a href="https://www.meetup.com/Postgres-Women-NYC">Postgres Women NYC</a></li>
      <li><a href="https://www.meetup.com/PostgreSQL-Argentina">PostgreSQL Argentina</a></li>
      <li><a href="https://www.meetup.com/postgresql-mexico">PostgreSQL México</a></li>
      <li><a href="https://www.meetup.com/postgresql-meetup-munich">PostgreSQL Meetup Munich</a></li>
      <li><a href="https://www.meetup.com/PostgreSQL-User-Group-Paris">PostgreSQL User Group, Paris</a></li>
      <li><a href="https://www.meetup.com/Tampa-Bay-PostgreSQL-Users-Group">Tampa Bay PostgreSQL Users Group</a></li>
      <li><a href="https://www.meetup.com/postgresql-1">The San Francisco Bay Area PostgreSQL Meetup Group</a> *</li>
      <li><a href="https://www.meetup.com/postgres-toulouse/">Toulouse PostgreSQL User Group</a></li>
      <li><a href="https://www.meetup.com/Toronto-Postgres-User-Group">Toronto Postgres User Group</a></li>
      <li><a href="https://www.meetup.com/Triangle-Postgres-Users-Group">Triangle Postgres Users Group</a></li>
    </ul>
    <p>* These user groups meet online!</p>
    <br>
    <h3>Start A New User Group</h3>
    <p>Don’t have a PostgreSQL user group in your area? Consider setting one up.</p>
    <ul>
      <li>Information about starting a new user group on the <a
          href="https://wiki.postgresql.org/wiki/UserGroupOperatingManual">Postgres Wiki</a>.</li>
      <li>If you’re looking for speakers, consider our <a href="https://wiki.postgresql.org/wiki/Speaker_Bureau">Speaker
          Bureau</a>.</li>
      <li>All user groups need to comply with <a
          href="https://www.postgresql.org/about/policies/user-groups/">PostgreSQL user group requirements</a>.</li>
      <li>Contact us about having your group sponsored by PgUS by being fully affiliated or associated. See below for
        information on becoming affiliated or associated with PgUS.</li>
    </ul>
    <br>
    <h3>Speak At One Of Our Meetups</h3>
    <p>
      If you are interested in speaking for one or more of our groups, let us know via this <a
        href="https://docs.google.com/forms/d/e/1FAIpQLScPIA475eaejOzwWAQbBOlNclhRLgMFCbxl0snynu0TnCC2IA/viewform">speaker
        interest form</a>.
    </p>
    <br>
    <h3>Looking For Speakers At Your Meetup Or Conference?</h3>
    <p>
      If you are looking for speakers for your event, check out the <a
        href="https://wiki.postgresql.org/wiki/Speaker_Bureau">Speaker Bureau</a>. If you see someone whom you would
      like to invite, <a href="mailto:ugcomm@postgresql.us">let us know</a> and we will connect you.
    </p>
    <br>
    <h3>Join The PgUS User Group Network</h3>
    <p>If you already have a Postgres user group - you can join PgUS. PgUS has a strong global network of user groups
      that it supports in a variety of ways. Below, you will find the benefits and requirements for joining our thriving
      community.
    </p>
    <br>
    <h3>PgUS Benefits</h3>
    <div class="table-wrapper">
      <table class="alt">
        <thead>
          <tr>
            <th></th>
            <th>Fully Affiliated (US)</th>
            <th>Associated (International)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mentoring and promotional support</td>
            <td>Yes</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>Annual funding up to $500 for expenses (e.g. speaker travel, catering, swag)**</td>
            <td>Yes</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>Meetup Pro fees covered with the group’s page added to the PostgreSQL Meetup Pro account</td>
            <td>Yes</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>PgUS User Group newsletter inclusion, featuring updates and spotlights on other groups, fostering
              connections across the network</td>
            <td>Yes</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>Back-office support - administrative and banking needs</td>
            <td>Yes</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>@volunteer.postgresql.us email addresses for user group organisers to use for all user group related
              communications</td>
            <td>Yes</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>PgUS user group insurance</td>
            <td>Yes</td>
            <td>No</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <p>** Those receiving financial sponsorship from PgUS maintain complete independence, are free to receive financial
      sponsorship from other entities, and to unassociate themselves from PgUS at any time.
    </p>
    <br>
    <h3>PgUS User Group Requirements</h3>
    <p>All PgUS Affiliated or Associated User Groups:</p>
    <ul>
      <li>Must meet <a href="https://www.postgresql.eu/user_group_recognition/">PGDC (PostgreSQL Global Development
          Group) community user group recognition requirements</a>.</li>
      <li>Must adopt a Code of Conduct that is actively enforced. <a
          href="https://www.postgresql.org/about/policies/coc_committee/">The PostgreSQL Community Code of Conduct</a>
        is preferred; any alternative Code of Conduct is subject to review and approval by PgUS. For alternative codes,
        a clear reporting procedure and contact email must be listed on the user group website.</li>
      <li>Must list PgUS as a sponsor on the Meetup page or user group website using the following wording: This is a
        user group of the United States PostgreSQL Association and abides by its policies: <a
          href="https://postgresql.us/">https://postgresql.us/</a></li>
      <li>User group organisers must sign and comply with PgUS volunteer policies.</li>
      <li>User group organisers must use the official PgUS email address (@volunteer.postgresql.us) for all user group
        related communications.</li>
    </ul>
    <br>
    <h3>Useful Docs</h3>
    <ul>
      <li><a
          href="https://docs.google.com/document/d/1zHhUm3Hh-xBYLFV36zMOQODwBU36E9YZKhSU13Vlsxw/edit?usp=sharing">Guide
          to holding a virtual meetup</a>.</li>
      <li><a href="/media/pgus/files/Zoom_security_guide_070322.pdf">Guide to security on Zoom</a>.</li>
    </ul>
    <br>
    <h3>PgUS User Group Committee</h3>
    <p>Commitee members:</p>
    <ul>
      <li>Arka Ganguli (Chair)</li>
      <li>Oscar Garcia Caro</li>
    </ul>
    <p>Board representatives:</p>
    <ul>
      <li>Michael Brewer</li>
      <li>Elizabeth Garrett Christensen</li>
    </ul>
    <p>Contact us at <a href="mailto:ugcomm@postgresql.us">ugcomm@postgresql.us</a></p>
    <br>
</section>
{%endblock%}