<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
  <div class="cs-overlay" aria-hidden="true"></div>
  <div class="cs-container">
    <!--Nav Logo-->
    <a href="/" class="cs-logo" aria-label="back to home">
      <img src="/media/pgus/images/pguslogo.png" alt="logo" height="48" aria-hidden="true" decoding="async">
    </a>
    <!--Navigation List-->
    <nav class="cs-nav" role="navigation">
      <!--Mobile Nav Toggle-->
      <button class="cs-toggle" aria-label="mobile menu toggle">
        <div class="cs-box" aria-hidden="true">
          <span class="cs-line cs-line1" aria-hidden="true"></span>
          <span class="cs-line cs-line2" aria-hidden="true"></span>
          <span class="cs-line cs-line3" aria-hidden="true"></span>
        </div>
      </button>
      <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
      <div class="cs-ul-wrapper">
        <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
          <li class="cs-li cs-dropdown" tabindex="0">
            <span class="cs-li-link">
              About PgUS
              <img class="cs-drop-icon" src="/media/pgus/images/dropdown-arrow.svg"
                alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
            </span>
            <ul class="cs-drop-ul">
              <li class="cs-drop-li">
                <a href="/usergroups" class="cs-li-link cs-drop-link">User Groups</a>
              </li>
              <li class="cs-drop-li">
                <a href="/contactus" class="cs-li-link cs-drop-link">Contact Us</a>
              </li>
              <li class="cs-drop-li">
                <a href="/corporate" class="cs-li-link cs-drop-link">Corporate</a>
              </li>
              <li class="cs-drop-li">
                <a href="/team" class="cs-li-link cs-drop-link">Our Board</a>
              </li>
              <li class="cs-drop-li">
                <a href="/policies" class="cs-li-link cs-drop-link">Policies</a>
              </li>
            </ul>
          </li>
          <li class="cs-li">
            <a href="/diversity" class="cs-li-link cs-active">
              Diversity
            </a>
          </li>
          <li class="cs-li">
            <a href="/get_involved" class="cs-li-link cs-active">
              Get Involved
            </a>
          </li>
          <li class="cs-li">
            <a href="/becomeamember" class="cs-li-link cs-active">
              Join
            </a>
          </li>
          <li class="cs-li">
            <a href="/donate" class="cs-li-link cs-active">
              Donate
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <a href="/membership" class="cs-button-solid cs-nav-button">Your Membership</a>
  </div>
</header>