<!-- Team -->
<section id="team">
  <!-- <div class="container"> -->
  <h2>PgUS Board</h2>
  <div class="pg-row">
    <div>
      <header>
        <img src="/media/pgus/images/a7.jpg" alt="Stacey Haysler" />
        <span>
          <h3>Stacey Haysler</h3>
          <h4>President</h4>
        </span>
      </header>
      <p>
        Stacey Haysler is the CFO and COO of PostgreSQL Experts, Inc. She
        first became involved in the Postgres community in 2010, and
        has worked as an organizer and conference staff for a number of
        conferences, both in North America and Europe, as well as being
        part of the start up team for PgDay San Francisco. She founded
        the Django Events Foundation North America (DEFNA), a nonprofit
        associated with the Django Software Foundation, and was a
        principal organizer of DjangoConUS for three years. She also
        served as Treasurer of the DSF for a year while starting DEFNA. She
        is a PostgreSQL contributor.
      </p>
      <p>
        She worked with the Core Team to develop the PostgreSQL Community
        Code of Conduct in 2017, and served as the Chair of the Community
        Code of Conduct Committee through September 2021. Current term runs through April 30, 2027.
      </p>
    </div>

    <div>

      <header>
        <img src="/media/pgus/images/a1.jpg" alt="Mark Wong" />
        <span>
          <h3>Mark Wong</h3>
          <h4>Treasurer</h4>
        </span>
      </header>
      <p>
        Mark Wong is currently employed by pgEdge and is a PostgreSQL
        Major Contributor. His background is in database systems
        solutions and performance. He first introduced himself to the
        PostgreSQL community in 2003 with open source benchmarking kits
        and performance data. Since then, he has continued to
        contribute to various aspects of the community such as a Google
        Summer of Code mentor, event planner, Portland PostgreSQL
        Users Group Co-Organizer, PostgreSQL Fundraising Group Member,
        and Director of PgUS.
      </p>
      <p>
        Current term runs through April 30, 2028.
      </p>
    </div>

    <div>
      <header>
        <img src="/media/pgus/images/a2.jpg" alt="Michael Brewer" />
        <span>
          <h3>Michael Brewer</h3>
          <h4>Secretary</h4>
        </span>
      </header>
      <p>
        Michael Brewer is a Web Developer Principal in the Franklin College Office
        of Information Technology at The University of Georgia. Michael's responsibilities
        include developing applications for intranet and internet use, creating and
        managing databases, and desktop and network support. One of the applications he
        developed won a national award for innovation in advising technology. He is one
        of the founding board members of the United States PostgreSQL Association.
      </p>
      <p>
        Current term runs through April 30, 2028.
      </p>
    </div>

    <div>
      <header>
        <img src="/media/pgus/images/elizabeth_tiny_headshot.png" alt="Elizabeth Christensen" />
        <span>
          <h3>Elizabeth Garrett Christensen</h3>
          <h4>Director</h4>
        </span>
      </header>
      <p>
        Elizabeth Garrett Christensen works on Postgres educational content at Snowflake. She writes blogs,
        tutorials, and product documentation while also assisting with Postgres product development. Elizabeth
        organizes the global PostGIS Day and hosts a local Kansas City Postgres User Group. Elizabeth enjoys speaking
        at Postgres events, open source events, and developer conferences primarily for users new to Postgres or in
        non-traditional technical roles. Elizabeth has a B.A. in Archeology from the University of Texas and a
        background in academic publishing software and open-source software.
      </p>
      <p>
        Current term runs through April 30, 2027.
      </p>
    </div>
    
    <div>
      <header>
        <img src="/media/pgus/images/a9.jpg" alt="Valeria Parham" />
        <span>
          <h3>Valerie Parham‑Thompson</h3>
          <h4>Director</h4>
        </span>
      </header>
      <p>
        Valerie Parham‑Thompson is a Database Solutions Architect; she focuses
        on data architecture for high‑traffic applications, and is a frequent
        writer on Postgres, spatial data, and routing. Valerie has over two
        decades of experience scaling data systems, and has previously worked as
        a solutions architect at YugabyteDB and a principal consultant at Pythian.
      </p>
      <p>
        Valerie takes an active role in shaping her tech communities, organizing 
        meetups like the Triangle Postgres Users Group, judging youth technical 
        competitions like Technovation, and providing technical editing for Manning 
        Publications and others. She holds a degree from UNC‑Chapel Hill Kenan‑Flagler 
        Business School and has spent most of her life working with startups.
      </p>
      <p>
        Current term runs through April 30, 2028.
      </p>
    </div>
    
  </div>
  <!-- </div> -->
</section>
