<!-- Team -->
<section id="two" class="wrapper style1 special">
  <div class="container">
      <header>
          <h2>our team</h2>
          <p>because they make the magic happen</p>
      </header>
      <div class="row">
        <div class="col-md-4">
          <div class="box person">
              <div class="image round">
                  <img src="/media/pgus/images/a3.jpg" alt="Stephen Frost" />
              </div>
              <h3>Stephen Frost - President</h3>
              <p>
                Stephen Frost is the Chief Technology Officer for Crunchy Data Solutions, Inc as
                well as a PostgreSQL Committer and Major Contributor. His previous work has included
                implementing the role system in 8.1 (replacing the previous user/group system),
                column-level privileges in 8.4 and improvements to PL/pgSQL.
              </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box person">
              <div class="image round">
                  <img src="/media/pgus/images/a7.jpg" alt="Stacey Haysler" />
              </div>
              <h3>Stacey Haysler - Vice President</h3>
              <p>
				Stacey Haysler the CFO and COO of PostgreSQL Experts, Inc. She
				first became involved in the Postgres community in 2010, and
				has worked as an organizer and conference staff for a number of
				conferences, both in North America and Europe, as well as being
				part of the start up team for PgDay San Francisco. She founded
				the Django Events Foundation North America (DEFNA), a nonprofit
				associated with the Django Software Foundation, and was a
				principal organizer of DjangoConUS for three years. She also
				served as Treasurer of the DSF for a year while starting DEFNA.
              </p>

              <p>
			  She worked with the Core Team to develop the PostgreSQL Community
			  Code of Conduct in 2017, and is currently the Chair of the
			  Community Code of Conduct Committee.
              </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="box person">
              <div class="image round">
                  <img src="/media/pgus/images/a1.jpg" alt="Mark Wong" />
              </div>
              <h3>Mark Wong - Treasurer</h3>
              <p>
                Mark Wong is currently the treasurer of the United States
                PostgreSQL Association while working as a consultant for 2ndQuadrant.
                His background was originally in database systems solutions and performance.
                He first introduced himself to the Postgres community in 2003 with open
                source benchmarking kits and results. Since then, he has continued to
                contribute to various aspects of the community.
              </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box person">
            <div class="image round">
                <img src="/media/pgus/images/a2.jpg" alt="Michael Brewer" />
            </div>
            <h3>Michael Brewer - Secretary</h3>
            <p>
              Michael Brewer is a Web Developer Principal in the Franklin College Office
              of Information Technology at The University of Georgia. Michael's responsibilities
              include developing applications for intranet and internet use, creating and
              managing databases, and desktop and network support. One of the applications he
              developed won a national award for innovation in advising technology. He is one
              of the founding board members of the United States PostgreSQL Association.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="box person">
              <div class="image round">
                  <img src="/media/pgus/images/a6.jpg" alt="Jonathan Katz" />
              </div>
              <h3>Jonathan Katz</h3>
              <p>
                Jonathan Katz is Direction of Communication at Crunchy Data and has been on the United States
                PostgreSQL Association since 2013.<br>
                Superhero Power: Teleportation, Quantum or Regular<br>
                Secret Identity: Jonny Meow<br>
                Random Fact: Drank Grappa on the summit of San Marino
              </p>
          </div>
        </div>
      </div>
    </div>
  </section>
