table td {
  background-color: transparent !important;
}

.alert {
  display: none;
}

.h1, h1 {
  font-size: 1.5em;
  margin: 1em 0;
}

input[type="submit"] {
    margin-bottom: 3em;
}

td.dlgClickable {
  color: #337ab7;
  text-decoration: underline;
}
