{%extends "base.html"%}
{%block title%}Membership{%endblock%}
{%block layoutblock%}
<section id="three" class="wrapper">
  <div class="inner">
    <header class="align-center">
      <h2>your membership</h2>
    </header>

    {%if not registration_complete%}
    <p>
      You are not currently registered as a member of the United States PostgreSQL Association.
      You can join us using the form on this page. Please read about
      <a href="/becomeamember/">becoming a member</a> before you register, and if
      you are uncertain about anything feel free to <a href="/contactus/">contact us</a>.
    </p>
    <p>
      Online registration using this form is only available for the Professional membership.
      If you are interested in a Student membership, please contact
      <a href="mailto:treasurer@postgresql.us">treasurer@postgresql.us</a>.
    </p>
    <p>
      Once you have registered, you will be able to generate an invoice for your
      Professional membership fee of $25.
      <i>Your membership is not active until you have paid the fee!</i>
    </p>
    <p>
      Note that all the information on the form must be filled out accurately, or your membership
      will not be valid even if it is fully paid.
    </p>
    {%endif%}

    <form method="post" action=".">{% csrf_token%}
      {% if form.errors %}
      <p>
        <b style="color:red;">Note! This form contains errors and has not been saved!</b>
      </p>
      {% endif %}
  
      <fieldset id="personal_information">
        <legend>
          <h3>Personal information ---</h3>
        </legend>
        <div{% if form.fullname.errors %} class="errfld"{% endif %}>
          {{ form.fullname.label_tag }}
          {{ form.fullname }} {% if form.fullname.errors %}{{ form.fullname.errors}}{% endif %}
        </div>
  
        <div{% if form.country.errors %} class="errfld"{% endif %}>
          {{ form.country.label_tag }}
          {{ form.country }} {% if form.country.errors %}{{ form.country.errors}}{% endif %}
        </div>
  
        <div{% if form.listed.errors %} class="errfld"{% endif %}>
          {{form.listed}} {{ form.listed.label_tag }} <br/>
          {% if form.listed.errors %}{{ form.listed.errors}}{% endif %}
        </div>
      </fieldset>
  
      {%if registration_complete%}<br>
      <fieldset id="membership_status">
        <legend>
          <h3>Membership Status ---</h3>
        </legend>
        <div id="membershipinfo">
          {%if member.membersince %}
            You have been a member since {{member.membersince}}.<br/>
          {%endif%}
          {%if member.paiduntil %}
            {%if member.expiressoon %}
              Your membership is currently active but will expire in {{member.paiduntil|timeuntil}} on {{member.paiduntil}}.
            {%else%}
              Your membership and payment has been registered, and will expire on {{member.paiduntil}}.
            {%endif%}
          {%else%}
            Your membership will become active once you have paid the fee.
          {%endif%}
        </div>
        {%if member.expiressoon%}
        <div id="paymentdiv">
          {%if member.activeinvoice%}
            {%include "invoices/userinvoice_spec.html"%}
          {%else%}
            <p>
              To pay or renew your membership, please use the button below to generate an
              invoice. You can then pay this invoice using several different methods.
            </p>
            <p>
              Once you have completed your payment, it may take up to 24 hours before the payment shows
              up in this system.
            </p>
          {%endif%}{%comment%}invoice or not{%endcomment%}
        </div>
        {%endif%}{%comment%}member.expiressoon{%endcomment%}
      </fieldset>
      {%endif%}{%comment%}registration_complete{%endcomment%}
  
      <input type="submit" name="submit" value="Save" />
      {%if member.expiressoon and not member.activeinvoice%}
        <input type="submit" name="submit" value="Generate invoice" />
      {%endif%}
      {%if logdata%}
      <fieldset id="logdata">
        <legend>
          Membership activity
        </legend>
        <table border="0" cellspacing="0" cellpadding="1">
        {%for l in logdata%}
          <tr>
            <td>{{l.timestamp|date:"Y-m-d H:i"}}&nbsp;&nbsp;</td>
            <td>{{l.message}}</td>
          </tr>
        {%endfor%}
        </table>
      </fieldset>
      {%endif%}
    </form>
  </div>
</section>
{%endblock%}
