{%extends "nav_account.html"%}
{%block title%}Meeting{%endblock%}
{%block content%}
<h2>{{meeting.name}}</h2>
<table class="table table-small">
  <tr><th>Date and time:</th><td>{{meeting.dateandtime|date:"Y-m-d H:i"}}</td></tr>
</table>
</p>

<h3>Joining this meeting</h3>
<p>
We will be using GoToMeeting.
</p>
<p>
You can use GoToMeeting directly in the Chrome Browser.
</p>
<p>
Otherwise, you will need to download and install the app ahead of 
time: <a href="https://global.gotomeeting.com/install/375084917">https://global.gotomeeting.com/install/375084917</a>
</p>
<p>
The connection link is listed below.
</p>
<p>
You can also dial-in by phone, using any of the numbers below.
</p>
<p>
We will open the meeting room around 9:50 AM PDT.
</p>
<p>
We will manage the Q&A via the built-in GoToMeeting Chat. Please use 
the chat window to let the moderators know you would like to ask a 
question, and they will add you to the queue. The moderator(s) will 
let you know when you are next in the queue, so you can be ready to 
unmute your microphone and ask your question.
</p>
<p>
Please contact us if you have any questions about using GoToMeeting.  
</p>
<p>
You can join the meeting from your computer, tablet or smartphone. 
<a href="https://www.gotomeet.me/SSHSF/pgusannualmeeting2020">https://www.gotomeet.me/SSHSF/pgusannualmeeting2020</a>
</p>
<p>
You can also dial in using your phone.  <br/>
United States: +1 (571) 317-3116  Access Code: 810-614-077 
</p>
<p>
More phone numbers: <br/>
Australia: +61 2 9091 7603  <br/>
Austria: +43 7 2081 5337  <br/>
Belgium: +32 28 93 7002  <br/>
Brazil: +55 11 4118-4898  <br/>
Bulgaria: +359 2 906 0606  <br/>
Canada: +1 (647) 497-9373  <br/>
Chile: +56 2 3214 9681  <br/>
Colombia: +57 1 600 9954  <br/>
Czech Republic: +420 2 96 21 62 28  <br/>
Denmark: +45 32 72 03 69  <br/>
Finland: +358 923 17 0556  <br/>
France: +33 170 950 590  <br/>
Germany: +49 721 6059 6510  <br/>
Greece: +30 21 0 300 2693  <br/>
Hungary: +36 1 933 3700  <br/>
Ireland: +353 15 295 146  <br/>
Israel: +972 3 376 3071  <br/>
Italy: +39 0 230 57 81 80  <br/>
Luxembourg: +352 34 2080 9220  <br/>
Malaysia: +60 3 7724 4060  <br/>
Mexico: +52 55 4624 4518  <br/>
Netherlands: +31 207 941 375  <br/>
New Zealand: +64 9 282 9510  <br/>
Norway: +47 21 93 37 37  <br/>
Panama: +507 308 4337  <br/>
Peru: +51 1 642 9425  <br/>
Romania: +40 31 780 1159  <br/>
South Africa: +27 11 259 4925  <br/>
Spain: +34 912 71 8488  <br/>
Sweden: +46 853 527 818  <br/>
Switzerland: +41 225 4599 60  <br/>
Turkey: +90 212 900 4812  <br/>
United Kingdom: +44 20 3713 5011 <br/>
</p>

<a href="../" class="btn btn-outline-dark">Return to list of meetings</a>

{%endblock%}

