html {
  font-size: 16px;
}

:root {
  --primary: #1d3461;
  --primaryLight: #1f487e;
  --secondary: hsl(38, 100%, 63%);
  --secondaryLight: hsl(38, 100%, 63%);
  --headerColor: hsl(0, 0%, 10%);
  --bodyTextColor: hsl(247, 15%, 35%);
  --bodyTextColorWhite: hsl(210, 25%, 98%);
}

body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  /* prevents padding from affecting height and width */
  box-sizing: border-box;
}

/* Styling for the swoopy hero sections */
#hero {
  color: var(--bodyTextColorWhite);
  &.large h1 {
    /* TODO: Set an actual font scale */
    font-size: clamp(2.5rem, 1.08rem + 7.09vw, 6.0625rem);
  }
  &.large div.inner {
    padding-bottom: clamp(4rem, 3.69rem + 1.55vw, 5rem);
    padding-top: clamp(6rem, 6.69rem + 1.55vw, 10rem);
  }
  & h1 {
    font-size: clamp(1.5rem, 0.8rem + 3.5vw, 3.5rem);
  }
  & > div.outer {
    background: var(--primary);
    width: 100%;
  }
  & div.inner {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--wrapper-max-width, 75rem);
    padding-left: clamp(1rem, 0.73rem + 1.36vw, 1.875rem);
    padding-right: clamp(1rem, 0.73rem + 1.36vw, 1.875rem);
    position: relative;
    padding-bottom: clamp(1.5rem, 1rem + 0.75vw, 2rem);
    padding-top: clamp(5rem, 5.5rem + 1vw, 8rem);
  }
  & > svg {
    transform: translateY(-1px);
    fill: var(--primary);
    display: block;
    height: 3.5em;
    width: 100%;
  }
}
